body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 80px 0 0 0; }

header {
  height: 86px; }

header .wrapper,
section .wrapper,
footer .wrapper {
  max-width: 1140px;
  margin: 0 auto; }

.webui-popover-content {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px; }

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  z-index: 101; }
  header .wrapper {
    height: 86px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start; }
    header .wrapper a.logo {
      display: block;
      width: 72px;
      height: 61px;
      margin: 0 30px 0 0;
      background: url("../img/nocry_logo.png") top left no-repeat;
      text-indent: -9999px; }
    header .wrapper nav {
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      header .wrapper nav ul {
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: 300;
        font-style: italic;
        margin: 3px 0 0 0; }
        header .wrapper nav ul li {
          display: inline;
          margin: 0 16px 0 0; }
          header .wrapper nav ul li a {
            text-decoration: none;
            color: #000;
            -webkit-transition: all 100ms ease-in;
                    transition: all 100ms ease-in; }
          header .wrapper nav ul li a:hover {
            color: #d7232a; }
    header .wrapper a.support {
      background: #f9f9f9;
      -webkit-transform: skew(-4deg);
          -ms-transform: skew(-4deg);
              transform: skew(-4deg);
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      margin: 0 0 0 1px;
      padding: 5px 12px 4px 6px;
      text-decoration: none;
      color: #d7232a;
      text-shadow: 0px 1px 0px #fff;
      -webkit-transition: all 100ms ease-in;
              transition: all 100ms ease-in; }
      header .wrapper a.support i {
        display: inline-block;
        width: 32px;
        height: 32px;
        -webkit-transform: skew(4deg);
            -ms-transform: skew(4deg);
                transform: skew(4deg);
        vertical-align: middle; }
      header .wrapper a.support i.phone {
        background-position: 0 0; }
      header .wrapper a.support i.mail {
        background-position: -32px 0; }
    header .wrapper a.support:hover {
      background: #f1f1f1; }
    header .wrapper a.buynow {
      margin: -2px 0 0 3px;
      padding: 1px 16px 0px 16px;
      height: auto;
      display: inline-block;
      white-space: no-wrap;
      color: #fff;
      font-size: 20px;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset -1px 1px 0px 0px rgba(255, 255, 255, 0.25);
      -webkit-transform: skew(-4deg);
          -ms-transform: skew(-4deg);
              transform: skew(-4deg);
      cursor: pointer; }
      header .wrapper a.buynow span {
        display: inline-block;
        -webkit-transform: skew(8deg);
            -ms-transform: skew(8deg);
                transform: skew(8deg); }
    header .wrapper a.buynow:hover {
      color: #fff; }

section.hero {
  overflow: hidden; }
  section.hero .hero-wrapper {
    background-size: cover;
    z-index: 99; }
    section.hero .hero-wrapper .pattern {
      background: url("../img/diag_bg.png");
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      section.hero .hero-wrapper .pattern .hero-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: transparent; }
        section.hero .hero-wrapper .pattern .hero-content h1 {
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          font-style: italic;
          display: block;
          color: #fff;
          text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5); }
          section.hero .hero-wrapper .pattern .hero-content h1 strong {
            display: block;
            clear: both;
            text-align: center; }
          section.hero .hero-wrapper .pattern .hero-content h1 span {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            margin: 0 10px; }
          section.hero .hero-wrapper .pattern .hero-content h1 span.begin {
            float: left; }
          section.hero .hero-wrapper .pattern .hero-content h1 span.end {
            float: right; }
        section.hero .hero-wrapper .pattern .hero-content .cta {
          background: rgba(0, 0, 0, 0.5);
          border-radius: 4px; }
          section.hero .hero-wrapper .pattern .hero-content .cta .amazon1 {
            text-align: center; }
            section.hero .hero-wrapper .pattern .hero-content .cta .amazon1 .amzn-logo {
              display: inline-block;
              width: 102px;
              height: 20px;
              margin: 10px 0 6px 0;
              text-indent: -9999px; }
            section.hero .hero-wrapper .pattern .hero-content .cta .amazon1 .amzn-n1 {
              background: #ff9900;
              display: inline-block;
              height: 21px;
              margin: 9px 0 0 12px;
              padding: 7px 7px 0 7px;
              border-radius: 3px;
              position: relative;
              text-transform: uppercase;
              color: #fff; }
              section.hero .hero-wrapper .pattern .hero-content .cta .amazon1 .amzn-n1 .end {
                display: block;
                position: absolute;
                width: 10px;
                height: 28px;
                float: right;
                top: 0px;
                right: -7px;
                -webkit-transform: skew(4deg);
                    -ms-transform: skew(4deg);
                        transform: skew(4deg); }
            section.hero .hero-wrapper .pattern .hero-content .cta .amazon1 .review-count {
              margin: 5px 0 0 0;
              color: #fff;
              font-size: 12px;
              clear: both; }
              section.hero .hero-wrapper .pattern .hero-content .cta .amazon1 .review-count a {
                color: #d8232a; }
              section.hero .hero-wrapper .pattern .hero-content .cta .amazon1 .review-count a:hover {
                text-decoration: none; }
          section.hero .hero-wrapper .pattern .hero-content .cta .pricing {
            color: #fff; }
            section.hero .hero-wrapper .pattern .hero-content .cta .pricing .price {
              font-size: 24px; }
            section.hero .hero-wrapper .pattern .hero-content .cta .pricing .shipping {
              font-size: 14px; }
      section.hero .hero-wrapper .pattern .thumbs {
        background: rgba(0, 0, 0, 0.5);
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end;
        width: 100%; }
        section.hero .hero-wrapper .pattern .thumbs .wrapper {
          background: transparent;
          margin: 0 auto;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          section.hero .hero-wrapper .pattern .thumbs .wrapper a.feature {
            margin: -9px 2px 0 2px;
            -webkit-transform: skew(-4deg);
                -ms-transform: skew(-4deg);
                    transform: skew(-4deg);
            box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
            text-decoration: none;
            cursor: pointer;
            float: left; }
            section.hero .hero-wrapper .pattern .thumbs .wrapper a.feature .pic {
              background: #fff;
              overflow: hidden; }
              section.hero .hero-wrapper .pattern .thumbs .wrapper a.feature .pic .bendback {
                margin: 0 0 0 -10px;
                width: 220px;
                height: 200px;
                -webkit-transform: skew(4deg);
                    -ms-transform: skew(4deg);
                        transform: skew(4deg);
                background-repeat: no-repeat;
                background-position: center center; }
            section.hero .hero-wrapper .pattern .thumbs .wrapper a.feature .txt {
              background: #000;
              color: #fff;
              text-align: center;
              font-weight: 300;
              cursor: pointer; }
          section.hero .hero-wrapper .pattern .thumbs .wrapper .feature:hover {
            cursor: pointer;
            -webkit-transition: all 200ms ease-in;
                    transition: all 200ms ease-in; }
            section.hero .hero-wrapper .pattern .thumbs .wrapper .feature:hover .txt {
              background: #2c2c2c; }

section.feature {
  background: #fff; }
  section.feature img {
    margin: 0 auto; }
  section.feature p {
    margin-bottom: 0; }

.fact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .fact .inner {
    border: 1px solid #DCDCDC;
    box-shadow: inset 0px -1px 0px 0px #FFFFFF;
    border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .fact .inner i {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin: 14px;
      background-position: 0 0; }
    .fact .inner strong {
      font-size: 18px;
      font-weight: 300;
      margin: 22px 14px 0 0;
      text-align: left;
      display: inline-block; }
    .fact .inner i.ico-level5 {
      background-position: 0 0; }
    .fact .inner i.ico-sizes {
      background-position: 0 -64px; }
    .fact .inner i.ico-foodgrade {
      background-position: 0 -32px; }
    .fact .inner i.ico-accurate {
      background-position: 0 -96px; }
    .fact .inner i.ico-weight {
      background-position: 0 -128px; }

.av-sizes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .av-sizes strong {
    margin: 30px 0 15px 0;
    font-weight: 700;
    display: inline-block; }
  .av-sizes ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 1px solid #DCDCDC;
    box-shadow: inset 0px -1px 0px 0px #FFFFFF;
    border-radius: 4px;
    margin: 0 0 15px 0; }
    .av-sizes ul li {
      border-left: 1px solid #dcdcdc;
      width: 105px;
      height: 48px;
      padding: 16px 0 0 0;
      text-align: center;
      font-size: 32px;
      font-weight: 300;
      color: #2F2F2F; }
    .av-sizes ul li:first-child {
      border: none; }
  .av-sizes a {
    font-weight: 300;
    color: #d0021b;
    text-decoration: underline;
    margin: 0 0 40px 0; }
  .av-sizes a:hover {
    text-decoration: none; }

.popup {
  padding: 0; }
  .popup section.sizing h2 {
    font-family: "Roboto Condensed", sans-serif; }

section.sizing {
  background: #fff; }

.palm-diameter {
  background: url("../img/palm_diameter.png");
  background-size: cover; }
  .palm-diameter .measure-here {
    width: 100%;
    height: 100%;
    background: url("../img/palm_measure.png");
    background-size: cover; }

.sizing-table {
  width: 184px;
  border: 1px solid #dcdcdc;
  box-shadow: inset 0px -2px 0px 0px #fff;
  border-radius: 4px;
  font-weight: 300;
  margin: 0 auto; }
  .sizing-table ul li {
    border-bottom: 1px solid #dcdcdc; }
    .sizing-table ul li strong {
      border: 1px solid #dcdcdc;
      border-radius: 50%;
      width: 31px;
      height: 25px;
      display: inline-block;
      margin: 8px;
      padding: 6px 0 0 0;
      text-align: center;
      font-size: 19px;
      line-height: 19px; }
  .sizing-table ul li:last-child {
    border-bottom: none; }

.reviews .review {
  overflow: hidden; }
  .reviews .review p {
    margin: 0 0 11px 0; }
  .reviews .review .auth {
    line-height: 20px; }
    .reviews .review .auth img.pic {
      border-radius: 50%;
      float: left;
      margin: 0 13px 0 0; }
    .reviews .review .auth .name {
      display: block;
      font-weight: 700;
      font-size: 16px;
      padding: 12px 0 0 0; }
    .reviews .review .auth .title {
      display: block;
      font-weight: 300;
      font-size: 14px; }

.video a.screen {
  position: relative;
  display: inline-block;
  cursor: pointer; }
  .video a.screen .play {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 128px;
    height: 84px;
    margin: -42px 0 0 -64px;
    text-indent: -9999px;
    background: #d8232a url(../img/play_ico.png) center center no-repeat;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5), inset -1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 50ms ease-in;
            transition: all 50ms ease-in;
    -webkit-transform: skew(-4deg);
        -ms-transform: skew(-4deg);
            transform: skew(-4deg); }
  .video a.screen img {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35); }
.video a.screen:hover .play {
  margin: -39px 0 0 -64px;
  background-color: #D02128;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset -1px 1px 0px 0px rgba(255, 255, 255, 0.25); }
.video a.screen:active .play {
  margin: -38px 0 0 -64px;
  background-color: #bc171d;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25); }
.video .title {
  text-align: center;
  color: #616161;
  font-style: italic;
  font-weight: 300; }

.faqlist {
  margin-bottom: 50px; }
  .faqlist h3 {
    font-size: 18px;
    font-weight: 300;
    padding: 7px 0; }
    .faqlist h3 a {
      color: #d0021b;
      display: block;
      line-height: 24px;
      cursor: pointer;
      text-decoration: underline;
      padding: 0 0 0 20px; }
    .faqlist h3 a:hover {
      text-decoration: none; }
  .faqlist h3.open article {
    margin: 0 0 0 20px; }
    .faqlist h3.open article p {
      font-size: 16px;
      line-height: 27px; }

section.cta {
  background-size: cover;
  height: 400px;
  background-image: url("../img/cta_bg.jpg"); }
  section.cta .pattern {
    background: url("../img/diag_bg.png");
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    section.cta .pattern a.cta-bttn {
      -webkit-transform: skew(-4deg);
          -ms-transform: skew(-4deg);
              transform: skew(-4deg);
      margin: 50px 0; }
      section.cta .pattern a.cta-bttn span {
        -webkit-transform: skew(4deg);
            -ms-transform: skew(4deg);
                transform: skew(4deg); }
    section.cta .pattern a.cta-bttn:hover {
      background: #CE1E25;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset -1px 1px 0px 0px rgba(255, 255, 255, 0.25); }
    section.cta .pattern a.cta-bttn:active {
      background: #bc171d;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25); }
    section.cta .pattern .pricing {
      color: #fff;
      font-style: italic;
      font-weight: 300; }
    section.cta .pattern .cta-links {
      text-shadow: 0px 1px 2px #000;
      font-weight: 400; }

footer {
  background: #fff; }
  footer .column {
    margin-top: 50px;
    margin-bottom: 50px; }
  footer h2 {
    font-size: 24px;
    line-height: 36px;
    font-family: "Roboto Condensed", sans serif;
    font-weight: 300;
    font-style: italic;
    margin: 0; }
  footer p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin: 5px 0 0 0; }
  footer ul.social {
    list-style: none;
    margin: 8px 14px; }
    footer ul.social li {
      display: inline; }
      footer ul.social li a {
        display: inline-block;
        width: 42px;
        height: 42px;
        text-indent: -9999px; }
    footer ul.social li a.fb {
      background-position: 0 0; }
    footer ul.social li a.fb:hover {
      background-position: 0 -42px; }
    footer ul.social li a.twitter {
      background-position: -84px 0; }
    footer ul.social li a.twitter:hover {
      background-position: -84px -42px; }
    footer ul.social li a.youtube {
      background-position: -126px 0; }
    footer ul.social li a.youtube:hover {
      background-position: -126px -42px; }
    footer ul.social li a.instagram {
      background-position: -168px 0; }
    footer ul.social li a.instagram:hover {
      background-position: -168px -42px; }
    footer ul.social li a.gplus {
      background-position: -42px 0; }
    footer ul.social li a.gplus:hover {
      background-position: -42px -42px; }
    footer ul.social li a.pinterest {
      background-position: -210px 0; }
    footer ul.social li a.pinterest:hover {
      background-position: -210px -42px; }
  footer .nl-subscribe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0 0 0; }
    footer .nl-subscribe input[type="text"] {
      width: 100%;
      background: #fff;
      border: 1px solid #929292;
      border-right: 1px solid #d8232a;
      border-radius: 4px 0 0 4px;
      font-size: 16px;
      height: 42px;
      padding: 0 0 0 10px;
      outline: none; }
    footer .nl-subscribe button {
      border-radius: 0 4px 4px 0;
      border: none;
      margin: 0;
      text-align: center;
      font-size: 18px;
      color: #fff;
      font-family: "Roboto Condensed";
      text-transform: uppercase;
      font-style: italic;
      background: #d8232a;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }
  footer .copyright {
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #dcdcdc;
    font-weight: 300;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden; }
    footer .copyright .copy {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
    footer .copyright .links {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
      footer .copyright .links a {
        white-space: nowrap;
        color: #d8232a; }
      footer .copyright .links a:hover {
        text-decoration: none; }
      footer .copyright .links .bull {
        padding: 0 5px;
        font-weight: 700; }

.terms {
  background-color: #fff;
  padding: 20px 50px 70px 50px; }
  .terms h1 {
    font-size: 42px;
    margin-top: 42px;
    margin-bottom: 8px;
    font-weight: 700; }
  .terms h2 {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700; }
  .terms h3 {
    font-weight: 700;
    margin-top: 16px;
    line-height: 27px; }
  .terms ul {
    line-height: 27px;
    margin-bottom: 16px;
    list-style: inherit; }
    .terms ul li {
      list-style: inherit;
      margin-left: 30px; }
  .terms p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 8px; }
  .terms strong {
    font-weight: 700; }
  .terms a {
    color: #d8232a; }
  .terms a:hover {
    text-decoration: none; }

section.checkout ul.steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
  border-top: 1px solid #dcdcdc; }
  section.checkout ul.steps li {
    margin-top: -8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    section.checkout ul.steps li i {
      display: inline-block;
      width: 11px;
      height: 11px;
      background: #d8d8d8;
      border-radius: 50%;
      border: 2px solid #fff;
      top: -6px;
      margin-bottom: 12px; }
  section.checkout ul.steps li:first-child {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    section.checkout ul.steps li:first-child span.txt {
      margin: 0 0 0 4px; }
  section.checkout ul.steps li:last-child {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    section.checkout ul.steps li:last-child span.txt {
      margin: 0 4px 0 0; }
  section.checkout ul.steps li.act i {
    background: #d8232a; }
    section.checkout ul.steps li.act i span {
      display: block;
      width: 5px;
      height: 5px;
      background: #fff;
      border-radius: 50%;
      margin: 3px 0 0 3px; }
  section.checkout ul.steps li.vis i {
    background: #d8232a; }
section.checkout h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  border-bottom: 1px solid #dcdcdc;
  margin: 20px 0 5px 0;
  padding: 0 8px;
  line-height: 38px; }
section.checkout .row.frm div[class^="col-"] label {
  font-size: 16px;
  padding: 15px 0 9px 7px;
  line-height: 19px;
  text-align: left;
  display: block; }
  section.checkout .row.frm div[class^="col-"] label a.help {
    margin: -2px 0 0 3px; }
section.checkout .row.frm div[class^="col-"] input[type='text'] {
  background: #fff;
  border: 1px solid #929292;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  outline: none;
  margin: 0px;
  padding: 8px 5px;
  height: 22px; }
section.checkout .row.frm div[class^="col-"] .selectize-control {
  height: 38px;
  margin: 0px;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }
  section.checkout .row.frm div[class^="col-"] .selectize-control .selectize-input {
    border: none;
    background: none; }
    section.checkout .row.frm div[class^="col-"] .selectize-control .selectize-input input[type='text'] {
      padding-top: 2px !important; }
    section.checkout .row.frm div[class^="col-"] .selectize-control .selectize-input .item {
      margin-top: 3px; }
  section.checkout .row.frm div[class^="col-"] .selectize-control .selectize-input.focus.input-active.dropdown-active .item {
    margin-top: 3px; }
section.checkout .payment-methods a.paymeth {
  cursor: pointer;
  display: inline-block;
  height: 64px;
  border: 1px solid #979797;
  box-shadow: inset 0px 1px 0px 0px #fff;
  border-radius: 4px;
  margin-bottom: 15px;
  text-indent: -9999px; }
  section.checkout .payment-methods a.paymeth span.check {
    display: block;
    border: 1px solid #979797;
    box-shadow: inset 0px -1px 0px 0px #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 16px 0 0 16px; }
section.checkout .payment-methods a.paymeth:hover {
  background: url("../img/paymeth_logos.png") 84px 0 no-repeat, -webkit-linear-gradient(270deg, #f7f7f7 1%, #e9e9e9 100%);
  background: url("../img/paymeth_logos.png") 84px 0 no-repeat, linear-gradient(-180deg, #f7f7f7 1%, #e9e9e9 100%);
  box-shadow: none; }
  section.checkout .payment-methods a.paymeth:hover span.check {
    background: url("../img/icos_check.png") 0 -32px no-repeat; }
section.checkout .payment-methods a.paymeth.active {
  border: 1px solid #4a90e2; }
  section.checkout .payment-methods a.paymeth.active span.check {
    border: none;
    background: #4a90e2 url("../img/icos_check.png") 0 0 no-repeat;
    box-shadow: none; }
section.checkout .payment-methods a.paymeth.cc {
  background-position: 84px 0px; }
section.checkout .payment-methods a.paymeth.paypal {
  background-position: 84px -64px; }
section.checkout .payment-methods a.paymeth.amazon {
  background-position: 84px -128px; }
section.checkout .payment-methods a.paymeth.ebay {
  background-position: 84px -192px; }
section.checkout #billingAddressSwitch label span {
  display: inline-block;
  margin: 3px 0 -3px 5px; }
section.checkout .billing-address {
  margin-bottom: 50px; }
  section.checkout .billing-address .inner {
    display: none; }
section.checkout .coupon {
  text-align: left;
  margin: 0; }
  section.checkout .coupon a {
    color: #d8232a; }
  section.checkout .coupon a:hover {
    text-decoration: none; }
  section.checkout .coupon input[type='text'] {
    background: #fff;
    border: 1px solid #929292;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    outline: none;
    padding: 8px 5px;
    height: 22px;
    float: left; }
  section.checkout .coupon input[type='text'].error {
    background: #fff3f3;
    border: 1px solid #d8232a;
    color: #d8232a; }
  section.checkout .coupon button {
    background: #393939;
    float: left;
    font-family: "Roboto", sans-serif;
    height: 40px;
    font-size: 18px;
    padding: 1px 15px 0 15px;
    display: block;
    white-space: nowrap;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    line-height: 22px;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-transition: all 50ms ease-in;
            transition: all 50ms ease-in; }
  section.checkout .coupon a.sec:hover {
    background: #393939; }
  section.checkout .coupon button:active {
    box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
    margin-top: 1px;
    margin-bottom: -1px; }
  section.checkout .coupon span.error {
    color: #d8232a;
    display: block;
    float: left;
    margin: 13px 0 0 8px; }
section.checkout .receipt {
  background-image: -webkit-linear-gradient(270deg, #FFFEF3 0%, #FFFCB9 98%);
  background-image: linear-gradient(-180deg, #FFFEF3 0%, #FFFCB9 98%);
  border: 1px solid #E1CCA9;
  border-radius: 5px; }
  section.checkout .receipt ul {
    color: #4D3E35;
    font-weight: 300;
    margin: 10px 0; }
    section.checkout .receipt ul strong {
      font-weight: 700; }
    section.checkout .receipt ul li {
      display: block;
      text-align: left;
      overflow: hidden;
      padding: 9px 15px; }
      section.checkout .receipt ul li hr {
        border: 0;
        height: 1px;
        border-top: 1px solid #e1cca9;
        margin: 0 -10px; }
      section.checkout .receipt ul li .left {
        float: left; }
      section.checkout .receipt ul li .right {
        float: right; }
section.checkout .product-page img.prod-pic {
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 0.5); }
section.checkout .product-page h2 {
  font-size: 39px;
  line-height: 46px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: capitalize;
  border: none; }
section.checkout .product-page .price {
  font-size: 16px;
  text-align: left;
  font-style: italic;
  font-weight: 300; }
  section.checkout .product-page .price strong {
    font-size: 28px;
    color: #D0021B;
    line-height: 40px;
    letter-spacing: -1px;
    font-weight: 400; }
section.checkout .product-page ul.productlist {
  margin: 0 0 10px 0; }
  section.checkout .product-page ul.productlist li.head {
    border-top: 0;
    padding: 14px 0; }
    section.checkout .product-page ul.productlist li.head span,
    section.checkout .product-page ul.productlist li.head div {
      font-weight: 700;
      -webkit-flex-basis: 33%;
          -ms-flex-preferred-size: 33%;
              flex-basis: 33%;
      vertical-align: middle; }
    section.checkout .product-page ul.productlist li.head span:first-child,
    section.checkout .product-page ul.productlist li.head div:first-child {
      text-align: left;
      margin-left: 10px; }
    section.checkout .product-page ul.productlist li.head span:last-child,
    section.checkout .product-page ul.productlist li.head div:last-child {
      text-align: right;
      margin-right: 10px;
      float: right; }
  section.checkout .product-page ul.productlist li {
    overflow: hidden;
    border-top: 1px solid #dcdcdc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    section.checkout .product-page ul.productlist li .amnt {
      position: relative; }
      section.checkout .product-page ul.productlist li .amnt input[type='number'] {
        background: #fff;
        border: 1px solid #929292;
        box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        outline: none;
        padding: 8px 5px;
        text-align: center;
        width: 110px; }
      section.checkout .product-page ul.productlist li .amnt input[type='number'] {
        -moz-appearance: textfield; }
      section.checkout .product-page ul.productlist li .amnt input[type='number']::-webkit-outer-spin-button,
      section.checkout .product-page ul.productlist li .amnt input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      section.checkout .product-page ul.productlist li .amnt a {
        position: absolute;
        text-indent: -9999px;
        opacity: 0.5;
        display: block;
        text-decoration: none;
        width: 32px;
        height: 32px;
        top: 6px; }
      section.checkout .product-page ul.productlist li .amnt a:hover {
        opacity: 1; }
      section.checkout .product-page ul.productlist li .amnt .controller {
        width: 120px;
        height: 0;
        margin: 0 auto;
        position: relative; }
        section.checkout .product-page ul.productlist li .amnt .controller a.incr {
          right: 2px;
          background-position: -32px 0; }
        section.checkout .product-page ul.productlist li .amnt .controller a.decr {
          left: 2px; }
    section.checkout .product-page ul.productlist li span.size {
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -webkit-flex-basis: 33%;
          -ms-flex-preferred-size: 33%;
              flex-basis: 33%;
      float: left; }
      section.checkout .product-page ul.productlist li span.size i {
        display: block;
        border: 1px solid #dcdcdc;
        border-radius: 50%;
        width: 31px;
        height: 25px;
        margin: 8px 0 8px 8px;
        padding: 6px 0 0 0;
        text-align: center;
        font-size: 19px;
        line-height: 19px;
        font-weight: 300; }
    section.checkout .product-page ul.productlist li div.amnt {
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -webkit-flex-basis: 33%;
          -ms-flex-preferred-size: 33%;
              flex-basis: 33%; }
    section.checkout .product-page ul.productlist li span.rw-price {
      margin: 0 10px 0 0;
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -webkit-flex-basis: 33%;
          -ms-flex-preferred-size: 33%;
              flex-basis: 33%;
      text-align: right;
      font-weight: 700;
      float: left; }
  section.checkout .product-page ul.productlist li.total {
    padding: 14px 10px;
    text-align: right; }
    section.checkout .product-page ul.productlist li.total .sum {
      font-size: 18px;
      color: #b4b4b4;
      font-weight: 300;
      float: right; }
      section.checkout .product-page ul.productlist li.total .sum strong {
        font-weight: 700;
        color: #000; }
section.checkout .product-page .tip {
  margin: 0 10px 45px 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  background-image: -webkit-linear-gradient(270deg, #FFFEF3 0%, #FFFCB9 98%);
  background-image: linear-gradient(-180deg, #FFFEF3 0%, #FFFCB9 98%);
  border: 1px solid #E1CCA9;
  border-radius: 5px;
  color: #4d3e35;
  padding: 15px 10px; }
  section.checkout .product-page .tip strong {
    font-weight: 700; }
section.checkout a.help {
  width: 21px;
  height: 21px;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle; }
section.checkout .success-msg .check-picto {
  width: 96px;
  height: 96px; }
section.checkout .success-msg h2 {
  font-size: 24px;
  text-align: center;
  border-bottom: 0;
  margin: 0; }
section.checkout .success-msg h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  margin: 10px 0 0 0; }
section.checkout .actions {
  border-top: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  section.checkout .actions .sec-payments {
    font-weight: 300;
    vertical-align: middle;
    font-style: italic;
    margin-top: 10px; }
    section.checkout .actions .sec-payments img {
      vertical-align: middle; }
  section.checkout .actions a.pri,
  section.checkout .actions a.sec {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    display: block;
    white-space: nowrap;
    height: 37px;
    margin: 0 5px;
    padding: 17px 20px 0 20px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5), inset -1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    line-height: 22px;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    -webkit-transform: skew(-4deg);
        -ms-transform: skew(-4deg);
            transform: skew(-4deg);
    cursor: pointer;
    -webkit-transition: all 50ms ease-in;
            transition: all 50ms ease-in; }
    section.checkout .actions a.pri span,
    section.checkout .actions a.sec span {
      -webkit-transform: skew(4deg);
          -ms-transform: skew(4deg);
              transform: skew(4deg); }
  section.checkout .actions a.pri:hover,
  section.checkout .actions a.sec:hover {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset -1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    margin-top: 2px;
    margin-bottom: -2px; }
  section.checkout .actions a.pri:active,
  section.checkout .actions a.sec:active {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25); }
  section.checkout .actions a.pri {
    background: #d8232a;
    float: right; }
  section.checkout .actions a.pri:hover a.cta-bttn:hover {
    background: #BE1A20; }
  section.checkout .actions a.sec {
    background: #393939;
    float: left; }
  section.checkout .actions a.sec:hover {
    background: #202020;
    float: left; }

a.cta-bttn {
  display: inline-block;
  white-space: nowrap;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 61px;
  padding: 22px 27px 0 27px;
  background: #d8232a;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5), inset -1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  line-height: 42px;
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 50ms ease-in;
          transition: all 50ms ease-in; }
  a.cta-bttn span {
    -webkit-transform: skew(4deg);
        -ms-transform: skew(4deg);
            transform: skew(4deg); }

a.cta-bttn:hover {
  background: #CE1E25;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset -1px 1px 0px 0px rgba(255, 255, 255, 0.25); }

a.cta-bttn:active {
  background: #bc171d;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25); }

.cta-links {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-shadow: 0px 1px 2px #000;
  font-weight: 400; }
  .cta-links a {
    color: #d8232a;
    font-weight: 400; }
  .cta-links a:hover {
    text-decoration: none; }

section.highlighted {
  background: #fafafa;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.4); }

section {
  overflow: hidden; }
  section h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-style: italic; }
  section p {
    font-weight: 300; }

.selectize-control {
  margin-top: 2px;
  background: #fff;
  border: 1px solid #929292;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

.selectize-input {
  height: 37px;
  line-height: 18px !important; }

.selectize-control,
.selectize-dropdown,
.selectize-input {
  text-align: left !important;
  font-size: 18px !important;
  font-weight: 300 !important; }

@media screen and (min-width: 180px) and (max-width: 599px) {
  body {
    padding: 60px 0 0 0; }

  header {
    height: 60px; }
    header .wrapper {
      display: block; }
      header .wrapper a.logo {
        width: 48px;
        height: 40px;
        background: url("../img/nocry_logo_mobile.png");
        background-size: 48px 40px;
        margin: 10px 0 0 0;
        float: left; }
      header .wrapper nav {
        display: none; }
      header .wrapper a.support {
        float: right;
        margin: 8px 1px 0 0;
        padding-right: 4px; }
        header .wrapper a.support .txt {
          display: none; }
      header .wrapper a.buynow {
        display: none; }

  .hero {
    margin: 60px 0 0 0;
    overflow: hidden;
    background-image: url("../img/hero_bg_mobile.jpg");
    overflow: hidden; }
    .hero .hero-content {
      margin: 0 20px;
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: transparent; }
      .hero .hero-content h1 {
        font-size: 42px;
        line-height: 54px;
        margin: 50px 10px 50px 10px;
        text-align: center; }
        .hero .hero-content h1 span {
          font-size: 24px;
          line-height: 36px;
          margin: 0 10px; }
      .hero .hero-content .cta {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0px;
        -webkit-transform: skew(0deg);
            -ms-transform: skew(0deg);
                transform: skew(0deg);
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 20px; }
        .hero .hero-content .cta a.cta-bttn {
          margin: 0 -10px;
          -webkit-transform: skew(-4deg);
              -ms-transform: skew(-4deg);
                  transform: skew(-4deg); }
        .hero .hero-content .cta .amazon1 {
          width: 100%;
          margin: 10px 0 15px;
          text-align: center; }
        .hero .hero-content .cta .pricing {
          margin: 3px 0 15px 0;
          text-align: center;
          padding: 13px 0 0 0px; }
          .hero .hero-content .cta .pricing .price {
            font-size: 24px; }
          .hero .hero-content .cta .pricing .shipping {
            font-size: 14px;
            line-height: 26px; }
      .hero .hero-content .cta-links {
        font-size: 14px;
        line-height: 26px;
        margin: 20px 20px; }
        .hero .hero-content .cta-links a {
          white-space: nowrap; }
    .hero .thumbs {
      display: none; }

  section.feature img {
    width: 100%;
    height: auto; }

  .fact .inner {
    margin: 20px auto 40px auto; }

  .magnify {
    display: none; }

  .reviews {
    margin: 0 0 25px 0; }
    .reviews .review {
      margin: 0 0px 25px 0px; }

  .video {
    margin: 0 0 25px 0; }
    .video a.screen img {
      width: 100%;
      height: auto; }
    .video .title {
      font-size: 16px;
      line-height: 28px;
      margin: 15px 0 0 0; }

  .palm-diameter {
    width: 280px;
    height: 325px;
    margin: 0 auto; }

  section.cta {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; }

  section {
    overflow: hidden; }
    section h2 {
      font-size: 48px;
      line-height: 60px;
      margin: 60px 0 30px 0;
      text-align: center; }
    section p {
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 28px 0; }

  section div[class^='col'] h2 {
    text-align: left; }

  section {
    overflow: hidden; }
    section h2 {
      font-size: 48px;
      line-height: 60px;
      margin: 30px 0 20px 0;
      text-align: center; }
    section p {
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 20px 0; }

  ul.steps {
    margin: 50px 0 20px 0; }

  .coupon {
    margin: 0 0 20px 0; }
    .coupon input[type='text'] {
      font-size: 16px;
      width: 120px; }

  .receipt {
    margin-top: 0px; }

  .success-msg {
    margin: 120px 0; }
    .success-msg .check-picto {
      margin: 0 auto 20px auto; }

  .payment-methods {
    padding: 15px 0 5px 0; }

  .product-page h2 {
    margin: 15px 0 0 0; }
  .product-page .price {
    margin: 0 0 10px 5px; }

  .prod-pic {
    display: none; }

  ul.productlist li {
    margin: 0; }

  .actions {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 10px 20px 10px; }
    .actions .sec-payments {
      margin-top: 10px; }
      .actions .sec-payments img {
        vertical-align: middle;
        margin: 15px 0 20px 12px; }

  .actions.single {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }

  .pricing {
    font-size: 16px;
    line-heigh: 23px; }
    .pricing strong {
      font-size: 22px;
      line-height: 36px;
      display: block; }

  .cta-links {
    line-height: 26px; }

  footer h2 {
    font-size: 24px;
    line-height: 36px;
    text-align: center; }
  footer .column {
    margin-top: 20px;
    margin-bottom: 20px; }
  footer .nl-subscribe button {
    width: 182px; }
  footer .copyright {
    font-size: 12px; }
    footer .copyright .copy {
      padding: 0; }
    footer .copyright .links {
      white-space: nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 0 10px 0; }
      footer .copyright .links .bull {
        padding: 0 5px;
        font-weight: 700; }

  header .wrapper,
  section .wrapper,
  footer .wrapper {
    margin: 0 20px; }

  section h2 {
    font-size: 32px;
    line-height: 44px; } }
@media screen and (min-width: 600px) and (max-width: 979px) {
  body {
    padding: 86px 0 0 0; }

  header {
    height: 86px; }
    header .wrapper nav {
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      header .wrapper nav ul {
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: 300;
        font-style: italic;
        margin: 3px 0 0 0; }
        header .wrapper nav ul li {
          display: inline;
          margin: 0 10px 0 0; }
          header .wrapper nav ul li a {
            text-decoration: none;
            color: #000;
            -webkit-transition: all 100ms ease-in;
                    transition: all 100ms ease-in; }
          header .wrapper nav ul li a:hover {
            color: #d7232a; }
    header .wrapper a.support .txt {
      display: none; }
    header .wrapper a.buynow {
      display: none; }

  .hero {
    margin: 60px 0 0 0;
    background: url("../img/hero_bg.jpg") 0 0 no-repeat;
    background-size: cover;
    overflow: hidden; }
    .hero .hero-content {
      margin: 0 20px;
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: transparent; }
      .hero .hero-content h1 {
        font-size: 64px;
        line-height: 66px;
        margin: 120px 10px 40px 10px;
        text-align: center; }
        .hero .hero-content h1 span {
          font-size: 32px;
          line-height: 44px;
          margin: 0 10px; }
      .hero .hero-content .cta {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0px;
        -webkit-transform: skew(0deg);
            -ms-transform: skew(0deg);
                transform: skew(0deg);
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto 30px auto;
        width: 320px; }
        .hero .hero-content .cta a.cta-bttn {
          margin: 0 -10px;
          -webkit-transform: skew(-4deg);
              -ms-transform: skew(-4deg);
                  transform: skew(-4deg); }
        .hero .hero-content .cta .amazon1 {
          width: 100%;
          margin: 10px 0 15px;
          text-align: center; }
        .hero .hero-content .cta .pricing {
          margin: 3px 0 15px 0;
          text-align: center;
          padding: 13px 0 0 0px; }
          .hero .hero-content .cta .pricing .price {
            font-size: 24px; }
          .hero .hero-content .cta .pricing .shipping {
            font-size: 14px;
            line-height: 26px; }
      .hero .hero-content .cta-links {
        font-size: 16px;
        margin-bottom: 50px; }
    .hero .thumbs {
      display: none; }

  section.feature img {
    width: 100%;
    height: auto; }

  .fact .inner {
    margin: 20px auto 40px auto; }

  .magnify {
    display: none; }

  .reviews {
    margin: 0 0 20px 0; }
    .reviews .review {
      margin: 0 0 25px 0; }

  .video {
    margin: 0 0 30px 0; }
    .video a.screen img {
      width: 100%;
      height: auto; }
    .video .title {
      font-size: 14px;
      line-height: 22px;
      margin: 10px 0 0 0; }

  .palm-diameter {
    width: 280px;
    height: 325px;
    margin: 150px auto 0 auto; }

  section {
    overflow: hidden; }
    section h2 {
      font-size: 48px;
      line-height: 60px;
      margin: 30px 0 20px 0;
      text-align: center; }
    section p {
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 20px 0; }

  section div[class^='col'] h2 {
    text-align: left; }

  ul.steps {
    margin: 50px 0 20px 0; }

  .coupon {
    margin: 0 0 20px 0; }
    .coupon input[type='text'] {
      font-size: 16px;
      width: 160px; }

  .receipt {
    margin-top: 0px; }

  .success-msg {
    margin: 120px 0; }
    .success-msg .check-picto {
      margin: 0 auto 20px auto; }

  .payment-methods {
    padding: 15px 0 5px 0; }

  .product-page h2 {
    margin: 15px 0 0 0; }
  .product-page .price {
    margin: 0 0 10px 5px; }

  .prod-pic {
    display: none; }

  ul.productlist li {
    margin: 0; }

  .actions {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 10px 30px 10px; }
    .actions .sec-payments {
      margin-top: 10px; }
      .actions .sec-payments img {
        vertical-align: middle;
        margin: 15px 0 20px 12px; }

  .actions.single {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }

  section.cta {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; }

  .pricing {
    font-size: 16px;
    line-heigh: 23px; }
    .pricing strong {
      font-size: 22px;
      line-height: 36px;
      display: block; }

  .cta-links {
    line-height: 26px; }

  footer h2 {
    font-size: 24px;
    line-height: 36px;
    text-align: center; }
  footer .column {
    margin-top: 20px;
    margin-bottom: 20px; }
  footer .nl-subscribe button {
    width: 182px; }
  footer .copyright {
    font-size: 14px; }

  header .wrapper,
  section .wrapper,
  footer .wrapper {
    margin: 0 30px; }
  header .copyright,
  section .copyright,
  footer .copyright {
    font-size: 14px; }
    header .copyright .copy,
    section .copyright .copy,
    footer .copyright .copy {
      padding: 0; }
    header .copyright .links,
    section .copyright .links,
    footer .copyright .links {
      white-space: nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 0 10px 0; }
      header .copyright .links .bull,
      section .copyright .links .bull,
      footer .copyright .links .bull {
        padding: 0 5px;
        font-weight: 700; }

  section h2 {
    font-size: 32px;
    line-height: 44px; } }
@media screen and (min-width: 980px) and (max-width: 1100px) {
  section.hero {
    padding: 0 0 20px 0;
    background: #fff; }
    section.hero .hero-wrapper {
      margin: 86px 0 0 0;
      background-position: center top;
      background-repeat: no-repeat;
      background-image: url("../img/hero_bg.jpg");
      background-size: cover;
      min-height: 600px;
      max-height: 1000px;
      overflow: visible; }
      section.hero .hero-wrapper .hero-content {
        margin: 60px auto 60px auto; }
        section.hero .hero-wrapper .hero-content h1 {
          font-size: 84px;
          margin: 0 auto;
          width: 820px; }
          section.hero .hero-wrapper .hero-content h1 strong {
            display: block;
            white-space: nowrap;
            clear: both; }
          section.hero .hero-wrapper .hero-content h1 span {
            font-size: 64px;
            margin: 0 10px; }
        section.hero .hero-wrapper .hero-content .cta {
          height: 70px;
          background: rgba(0, 0, 0, 0.5);
          max-width: 1140px;
          margin: 40px 50px 25px 50px;
          -webkit-transform: skew(-4deg);
              -ms-transform: skew(-4deg);
                  transform: skew(-4deg);
          text-align: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          section.hero .hero-wrapper .hero-content .cta a.cta-bttn {
            margin-top: -7px; }
            section.hero .hero-wrapper .hero-content .cta a.cta-bttn span {
              -webkit-transform: skew(4deg);
                  -ms-transform: skew(4deg);
                      transform: skew(4deg);
              font-size: 32px; }
          section.hero .hero-wrapper .hero-content .cta a.cta-bttn:hover {
            margin-top: -6px; }
          section.hero .hero-wrapper .hero-content .cta a.cta-bttn:active {
            margin-top: -5px; }
          section.hero .hero-wrapper .hero-content .cta .amazon1 {
            width: 300px;
            margin: 0;
            text-align: center; }
            section.hero .hero-wrapper .hero-content .cta .amazon1 .amzn-logo {
              display: inline-block;
              width: 102px;
              height: 20px;
              margin: 14px 0 6px 0;
              background: url("../img/amazon_logo.png") 0 0 no-repeat;
              text-indent: -9999px; }
            section.hero .hero-wrapper .hero-content .cta .amazon1 .review-count {
              margin: 5px 0 0 0;
              color: #fff;
              font-size: 12px;
              clear: both; }
              section.hero .hero-wrapper .hero-content .cta .amazon1 .review-count a {
                color: #d8232a; }
              section.hero .hero-wrapper .hero-content .cta .amazon1 .review-count a:hover {
                text-decoration: none; }
            section.hero .hero-wrapper .hero-content .cta .amazon1 .pricing {
              width: 300px;
              color: #fff;
              text-align: left;
              padding: 13px 0 0 15px;
              text-align: left; }
              section.hero .hero-wrapper .hero-content .cta .amazon1 .pricing .price {
                margin: 10px 0 0 0;
                font-size: 24px; }
              section.hero .hero-wrapper .hero-content .cta .amazon1 .pricing .shipping {
                font-size: 14px;
                line-height: 24px; }
          section.hero .hero-wrapper .hero-content .cta .pricing {
            width: 300px;
            color: #fff;
            text-align: left;
            padding: 15px 0 0 15px; }
            section.hero .hero-wrapper .hero-content .cta .pricing .price {
              font-size: 24px; }
            section.hero .hero-wrapper .hero-content .cta .pricing .shipping {
              font-size: 14px; }
      section.hero .hero-wrapper .thumbs {
        -webkit-flex-basis: 238px;
            -ms-flex-preferred-size: 238px;
                flex-basis: 238px; }
        section.hero .hero-wrapper .thumbs .wrapper {
          max-width: 1140px; }
          section.hero .hero-wrapper .thumbs .wrapper .feature {
            margin: -9px 2px 0 2px;
            -webkit-transform: skew(-4deg);
                -ms-transform: skew(-4deg);
                    transform: skew(-4deg);
            box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5); }
            section.hero .hero-wrapper .thumbs .wrapper .feature .pic {
              width: 180px;
              height: 180px; }
            section.hero .hero-wrapper .thumbs .wrapper .feature .txt {
              font-size: 16px;
              line-height: 24px;
              padding: 12px 0 12px 0; }
          section.hero .hero-wrapper .thumbs .wrapper .feature:nth-child(2) .txt,
          section.hero .hero-wrapper .thumbs .wrapper .feature:nth-child(4) .txt {
            padding: 14px 0 14px 0; }

  section.feature img {
    width: 85%;
    height: auto; }

  .fact .inner {
    margin: 30px auto 70px auto; }

  img.magnify-nozoom {
    display: none; }

  .reviews {
    margin: 0 0 70px 0; }
    .reviews .review {
      margin: 0 20px 35px 20px; }

  .video {
    margin: 0 0 70px 0; }
    .video a.screen img {
      width: 100%;
      height: auto; }
    .video .title {
      font-size: 16px;
      margin: 15px 0 0 0; }

  .palm-diameter {
    width: 465px;
    height: 540px; }

  section {
    overflow: hidden; }
    section h2 {
      font-size: 48px;
      line-height: 60px;
      margin: 60px 0 30px 0;
      text-align: center; }
    section p {
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 28px 0; }

  section div[class^='col'] h2 {
    text-align: left; }

  .pricing {
    font-size: 16px;
    line-heigh: 23px; }
    .pricing strong {
      font-size: 26px; }

  ul.steps {
    margin: 50px 0 40px 0; }

  .coupon {
    margin: 0 0 20px 0; }
    .coupon input[type='text'] {
      font-size: 16px;
      width: 120px; }

  .receipt {
    margin-top: 0px; }

  .success-msg {
    margin: 120px 0; }
    .success-msg .check-picto {
      margin: 0 auto 20px auto; }

  .payment-methods {
    padding: 15px 0 5px 0; }

  .product-page h2 {
    margin: 10px 0 0 14px !important; }
  .product-page .price {
    margin: 0 0 10px 18px; }
  .product-page img.prod-pic {
    margin: 0 0 45px 0; }

  ul.productlist li {
    margin: 0 10px; }

  .actions {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 10px 100px 10px; }
    .actions .sec-payments {
      margin-top: 10px; }
      .actions .sec-payments img {
        vertical-align: middle;
        margin: 0px 0 4px 12px; }

  footer .column {
    margin-top: 30px;
    margin-bottom: 30px; }
  footer .nl-subscribe button {
    width: 142px; }
  footer h2 {
    font-size: 24px;
    line-height: 36px; }
  footer .copyright {
    font-size: 14px; }
    footer .copyright .copy {
      padding: 0; }
    footer .copyright .links {
      white-space: nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 0 10px 0; }
      footer .copyright .links .bull {
        padding: 0 5px;
        font-weight: 700; }

  header .wrapper,
  section .wrapper,
  footer .wrapper {
    margin: 0 30px; } }
@media screen and (min-width: 1101px) {
  section.hero {
    padding: 0 0 20px 0;
    background: #fff; }
    section.hero .hero-wrapper {
      margin: 86px 0 0 0;
      background-position: center top;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-image: url("../img/hero_bg.jpg");
      height: 80vh;
      min-height: 780px;
      max-height: 1000px;
      overflow: visible; }
      section.hero .hero-wrapper .hero-content {
        margin: 0 auto; }
        section.hero .hero-wrapper .hero-content h1 {
          font-size: 84px;
          margin: 0 auto;
          width: 820px; }
          section.hero .hero-wrapper .hero-content h1 strong {
            display: block;
            white-space: nowrap;
            letter-spacing: -1px;
            clear: both; }
          section.hero .hero-wrapper .hero-content h1 span {
            font-size: 64px;
            margin: 0 10px; }
        section.hero .hero-wrapper .hero-content .cta {
          height: 70px;
          background: rgba(0, 0, 0, 0.5);
          max-width: 1140px;
          margin: 40px 50px 25px 50px;
          -webkit-transform: skew(-4deg);
              -ms-transform: skew(-4deg);
                  transform: skew(-4deg);
          text-align: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          section.hero .hero-wrapper .hero-content .cta a.cta-bttn {
            margin-top: -7px; }
            section.hero .hero-wrapper .hero-content .cta a.cta-bttn span {
              -webkit-transform: skew(4deg);
                  -ms-transform: skew(4deg);
                      transform: skew(4deg); }
          section.hero .hero-wrapper .hero-content .cta a.cta-bttn:hover {
            margin-top: -6px; }
          section.hero .hero-wrapper .hero-content .cta a.cta-bttn:active {
            margin-top: -5px; }
          section.hero .hero-wrapper .hero-content .cta .amazon1 {
            width: 300px;
            margin: 0;
            text-align: center; }
            section.hero .hero-wrapper .hero-content .cta .amazon1 .amzn-logo {
              display: inline-block;
              width: 102px;
              height: 20px;
              margin: 14px 0 6px 0;
              background: url("../img/amazon_logo.png") 0 0 no-repeat;
              text-indent: -9999px; }
            section.hero .hero-wrapper .hero-content .cta .amazon1 .review-count {
              margin: 5px 0 0 0;
              color: #fff;
              font-size: 12px;
              clear: both; }
              section.hero .hero-wrapper .hero-content .cta .amazon1 .review-count a {
                color: #d8232a; }
              section.hero .hero-wrapper .hero-content .cta .amazon1 .review-count a:hover {
                text-decoration: none; }
          section.hero .hero-wrapper .hero-content .cta .pricing {
            width: 300px;
            color: #fff;
            text-align: left;
            padding: 14px 0 0 15px; }
            section.hero .hero-wrapper .hero-content .cta .pricing .price {
              font-size: 24px; }
            section.hero .hero-wrapper .hero-content .cta .pricing .shipping {
              font-size: 14px;
              line-height: 24px; }
    section.hero .thumbs {
      -webkit-flex-basis: 268px;
          -ms-flex-preferred-size: 268px;
              flex-basis: 268px; }
      section.hero .thumbs .wrapper {
        max-width: 1140px; }
        section.hero .thumbs .wrapper .feature {
          margin: -9px 2px 0 2px;
          -webkit-transform: skew(-4deg);
              -ms-transform: skew(-4deg);
                  transform: skew(-4deg);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5); }
          section.hero .thumbs .wrapper .feature .pic {
            width: 200px;
            height: 200px; }
          section.hero .thumbs .wrapper .feature .txt {
            font-size: 18px;
            line-height: 28px;
            padding: 12px 0 12px 0; }
        section.hero .thumbs .wrapper .feature:nth-child(2) .txt,
        section.hero .thumbs .wrapper .feature:nth-child(4) .txt {
          padding: 16px 0 16px 0; }

  section.feature img {
    width: 520px;
    height: 520px; }

  .fact .inner {
    margin: 30px auto 70px auto; }

  img.magnify-nozoom {
    display: none; }

  .reviews {
    margin: 0 0 70px 0; }
    .reviews .review {
      margin: 0 20px 35px 20px; }

  .video {
    margin: 0 0 70px 0; }
    .video .title {
      font-size: 16px;
      margin: 20px 0 0 0; }

  .palm-diameter {
    width: 465px;
    height: 540px; }

  section {
    overflow: hidden; }
    section h2 {
      font-size: 48px;
      line-height: 60px;
      margin: 60px 0 30px 0;
      text-align: center; }
    section p {
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 28px 0; }

  section div[class^='col'] h2 {
    text-align: left; }

  section.cta {
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; }

  .pricing {
    font-size: 16px;
    line-heigh: 23px; }
    .pricing strong {
      font-size: 26px; }

  ul.steps {
    margin: 100px 0 40px 0; }

  .coupon {
    margin: 0 0 20px 0; }
    .coupon input[type='text'] {
      font-size: 18px;
      width: 160px; }

  .payment-methods {
    padding: 50px 0 35px 0; }

  .success-msg {
    margin: 250px 0; }
    .success-msg .check-picto {
      margin: 0 auto 2px auto; }

  .product-page h2 {
    margin: 10px 0 0 14px !important; }
  .product-page .price {
    margin: 0 0 10px 18px; }
  .product-page img.prod-pic {
    margin: 0 0 45px 0; }

  ul.productlist li {
    margin: 0 10px; }

  .actions {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 10px 100px 10px;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
    .actions .sec-payments {
      margin-top: 10px; }
      .actions .sec-payments img {
        vertical-align: middle;
        margin: 0px 0 4px 12px; }

  footer .column {
    margin-top: 50px;
    margin-bottom: 50px; }
  footer .nl-subscribe button {
    width: 142px; }
  footer h2 {
    font-size: 24px;
    line-height: 36px; }
  footer .copyright {
    font-size: 16px; }
    footer .copyright .copy {
      padding: 0; }
    footer .copyright .links {
      white-space: nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 0 10px 0; }
      footer .copyright .links .bull {
        padding: 0 5px;
        font-weight: 700; } }
ul.social li a {
  background: url("../img/social_icos.png"); }

.amazon1 .amzn-logo {
  background: url("../img/amazon_logo.png") top left no-repeat; }

a.paymeth {
  background: url("../img/paymeth_logos.png") 84px 0 no-repeat, -webkit-linear-gradient(270deg, #f7f7f7 1%, #e9e9e9 100%);
  background: url("../img/paymeth_logos.png") 84px 0 no-repeat, linear-gradient(-180deg, #f7f7f7 1%, #e9e9e9 100%);
  background-size: 188px 256px; }

a.paymeth.active span.check {
  background: #4a90e2 url("../img/icos_check.png") 0 0 no-repeat; }

.video a.screen .play {
  background: #d8232a url(../img/play_ico.png) center center no-repeat; }

.success-msg .check-picto {
  background: url("../img/check_picto.png"); }

a.help {
  background: url("../img/ico_help.png"); }

.amnt a {
  background: url(../img/amnt_controls.png) 0 0 no-repeat; }

a.support i {
  background: url("../img/icos_support.png"); }

.amzn-n1 .end {
  background: url("../img/ribbon_end.png") 0 0 no-repeat; }

.faqlist {
  margin-bottom: 50px; }
  .faqlist h3 {
    background: url("../img/faq_chevron.png") 0 11px no-repeat; }
  .faqlist h3.open {
    background: url("../img/faq_chevron.png") 0 -102px no-repeat; }

.fact i {
  background-image: url("../img/fact_icons.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  header a.logo {
    background: url("../img/nocry_logo@2x.png") top left no-repeat;
    background-size: 72px 61px; }

  ul.social li a {
    background: url("../img/social_icos@2x.png");
    background-size: 252px 84px; }

  .amazon1 .amzn-logo {
    background: url("../img/amazon_logo@2x.png") top left no-repeat;
    background-size: 102px 20px; }

  a.paymeth {
    background: url("../img/paymeth_logos@2x.png") 84px 0 no-repeat, -webkit-linear-gradient(270deg, #f7f7f7 1%, #e9e9e9 100%);
    background: url("../img/paymeth_logos@2x.png") 84px 0 no-repeat, linear-gradient(-180deg, #f7f7f7 1%, #e9e9e9 100%);
    background-size: 188px 256px; } }
.video a.screen .play {
  background: #d8232a url(../img/play_ico@2x.png) center center no-repeat;
  background-size: 36px 37px; }

.success-msg .check-picto {
  background: url("../img/check_picto@2x.png");
  background-size: 96px 96px; }

a.help {
  background: url("../img/ico_help@2x.png");
  background-size: 21px 21px; }

.amnt a {
  background: url(../img/amnt_controls@2x.png) 0 0 no-repeat;
  background-size: 64px 32px; }

a.support i {
  background: url("../img/icos_support@2x.png");
  background-size: 64px 32px; }

.amzn-n1 .end {
  background: url("../img/ribbon_end@2x.png") 0 0 no-repeat;
  background-size: 10px 28px; }

.faqlist {
  margin-bottom: 50px; }
  .faqlist h3 {
    background: url("../img/faq_chevron@2x.png") 0 11px no-repeat;
    background-size: 16px 128px; }
  .faqlist h3.open {
    background: url("../img/faq_chevron@2x.png") 0 -102px no-repeat;
    background-size: 16px 128px; }

.fact i {
  background-image: url("../img/fact_icons@2x.png");
  background-size: 32px 160px; }
