section.checkout
	
	ul.steps
		display: flex
		justify-content: space-between
		font-size: 16px
		font-weight: 300
		border-top: 1px solid #dcdcdc
		li
			margin-top: -8px
			display: flex
			flex-direction: column
			align-items: center
			i
				display: inline-block
				width: 11px
				height: 11px
				background: #d8d8d8
				border-radius: 50%
				border: 2px solid #fff
				top: -6px
				margin-bottom: 12px

		li:first-child
			align-items: flex-start
			span.txt
				margin: 0 0 0 4px
		li:last-child
			align-items: flex-end
			span.txt
				margin: 0 4px 0 0
		li.act
			i
				background: #d8232a
				span
					display: block
					width: 5px
					height: 5px
					background: #fff
					border-radius: 50%
					margin: 3px 0 0 3px
		li.vis
			i
				background: #d8232a
	
	h2
		font-size: 20px
		font-family: 'Roboto', sans-serif
		font-weight: 400
		text-transform: uppercase
		font-style: normal
		border-bottom: 1px solid #dcdcdc
		margin: 20px 0 5px 0
		padding: 0 8px
		line-height: 38px
		
	.row.frm					
		div[class^="col-"]
			label
				font-size: 16px
				padding: 15px 0 9px 7px
				line-height: 19px
				text-align: left
				display: block
				
				a.help
					margin: -2px 0 0 3px
				
			input[type='text']
				background: #fff
				border: 1px solid #929292
				box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.50)
				border-radius: 5px
				font-size: 18px
				font-family: 'Roboto', sans-serif
				font-weight: 300
				outline: none
				margin: 0px
				padding: 8px 5px
				height: 22px
				
			.selectize-control
				height: 38px
				margin: 0px
				box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.50)
				.selectize-input
					border: none
					background: none
					
					input[type='text']
						padding-top: 2px!important	
					.item
						margin-top: 3px
				.selectize-input.focus.input-active.dropdown-active
					.item
						margin-top: 3px

	.payment-methods
		a.paymeth
			cursor: pointer
			display: inline-block
			height: 64px
			border: 1px solid #979797
			box-shadow: inset 0px 1px 0px 0px #fff
			border-radius: 4px
			margin-bottom: 15px
			text-indent: -9999px
			
			span.check
				display: block
				border: 1px solid #979797
				box-shadow: inset 0px -1px 0px 0px #fff
				border-radius: 50%
				width: 32px
				height: 32px
				margin: 16px 0 0 16px
		
		a.paymeth:hover
			background: url('../img/paymeth_logos.png') 84px 0 no-repeat, linear-gradient(-180deg, #f7f7f7 1%, #e9e9e9 100%)
			box-shadow: none
			span.check
				background: url('../img/icos_check.png') 0 -32px no-repeat
				
		a.paymeth.active
			border: 1px solid #4a90e2
			span.check
				border: none
				background: #4a90e2 url('../img/icos_check.png') 0 0 no-repeat
				box-shadow: none
				
		a.paymeth.cc
			background-position: 84px 0px
		a.paymeth.paypal
			background-position: 84px -64px
		a.paymeth.amazon
			background-position: 84px -128px
		a.paymeth.ebay
			background-position: 84px -192px
			
	#billingAddressSwitch
		label
			span
				display: inline-block
				margin: 3px 0 -3px 5px
	.billing-address
		margin-bottom: 50px
		.inner
			display: none
	
	.coupon
		text-align: left
		margin: 0
		
		
		a
			color: #d8232a
		a:hover
			text-decoration: none
			
		input[type='text']
			background: #fff
			border: 1px solid #929292
			box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.50)
			border-radius: 5px
			font-family: 'Roboto', sans-serif
			font-weight: 300
			outline: none
			padding: 8px 5px
			height: 22px
			float: left
			
		input[type='text'].error
			background: #fff3f3
			border: 1px solid #d8232a
			color: #d8232a
		
		button
			background: #393939
			float: left
			font-family: 'Roboto', sans-serif
			height: 40px
			font-size: 18px
			padding: 1px 15px 0 15px
			display: block
			white-space: nowrap
			margin: 0 5px
			border: none
			border-radius: 5px		
			text-transform: uppercase
			font-weight: 700
			color: #fff
			line-height: 22px
			text-decoration: none
			text-shadow: 0px -1px 0px rgba(0,0,0,0.25)
			cursor: pointer
			transition: all 50ms ease-in

		a.sec:hover
			background: #393939
			
		button:active
			box-shadow: inset -1px 0px 0px 0px rgba(255,255,255,0.25)
			margin-top: 1px
			margin-bottom: -1px
	
		span.error
			color: #d8232a
			display: block
			float: left
			margin: 13px 0 0 8px
	
	.receipt
		background-image: linear-gradient(-180deg, #FFFEF3 0%, #FFFCB9 98%)
		border: 1px solid #E1CCA9
		border-radius: 5px
		
		ul
			color: #4D3E35
			font-weight: 300
			margin: 10px 0
			
			strong
				font-weight: 700
			li
				display: block
				text-align: left
				overflow: hidden
				padding: 9px 15px
				
				hr
					border: 0
					height: 1px
					border-top: 1px solid #e1cca9
					margin: 0 -10px
				
				.left
					float: left
					
				.right
					float: right
	
	.product-page
		img.prod-pic
			width: 100%
			height: auto
			background: #fff
			box-shadow: 0px 1px 3px 0px rgba(128,128,128,0.50)

		h2
			font-size: 39px
			line-height: 46px
			font-family: 'Roboto Condensed', sans-serif
			font-style: italic
			font-weight: 700
			text-transform: capitalize
			border: none
		.price
			font-size: 16px
			text-align: left
			font-style: italic
			font-weight: 300
			strong
				font-size: 28px
				color: #D0021B
				line-height: 40px
				letter-spacing: -1px
				font-weight: 400
				
		ul.productlist
			margin: 0 0 10px 0
			li.head
				border-top: 0
				padding: 14px 0
				span,
				div
					font-weight: 700
					flex-basis: 33%
					vertical-align: middle
				span:first-child,
				div:first-child
					text-align: left
					margin-left: 10px
				span:last-child,
				div:last-child
					text-align: right
					margin-right: 10px
					float: right
					
			li	
				overflow: hidden
				border-top: 1px solid #dcdcdc
				display: flex
				justify-content: space-between
				align-items: center
				
				.amnt
					position: relative
					input[type='number']
						background: #fff
						border: 1px solid #929292
						box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.50)
						border-radius: 5px
						font-size: 18px
						font-family: 'Roboto', sans-serif
						font-weight: 300
						outline: none
						padding: 8px 5px
						text-align: center
						width: 110px
					
					input[type='number']
						-moz-appearance: textfield
						
					input[type='number']::-webkit-outer-spin-button,
					input[type='number']::-webkit-inner-spin-button
						-webkit-appearance: none
						margin: 0
					
					a
						position: absolute
						text-indent: -9999px
						opacity: 0.5
						display: block
						text-decoration: none
						width: 32px
						height: 32px
						top: 6px
					a:hover
						opacity: 1
					.controller
						width: 120px
						height: 0
						margin: 0 auto
						position: relative						
						a.incr
							right: 2px
							background-position: -32px 0
						a.decr
							left: 2px
					
				
				span.size
					flex-grow: 0
					flex-basis: 33%
					float: left
					i
						display: block
						border: 1px solid #dcdcdc
						border-radius: 50%
						width: 31px
						height: 25px
						margin: 8px 0 8px 8px
						padding: 6px 0 0 0
						text-align: center
						font-size: 19px
						line-height: 19px
						font-weight: 300
				div.amnt
					flex-grow: 0
					flex-basis: 33%
				span.rw-price
					margin: 0 10px 0 0
					flex-grow: 0
					flex-basis: 33%
					text-align: right
					font-weight: 700
					float: left
			li.total
				padding: 14px 10px
				text-align: right
				.sum
					font-size: 18px
					color: #b4b4b4
					font-weight: 300
					float: right
					strong
						font-weight: 700
						color: #000
					
		.tip
			margin: 0 10px 45px 10px
			font-size: 16px
			line-height: 24px
			font-weight: 300
			background-image: linear-gradient(-180deg, #FFFEF3 0%, #FFFCB9 98%)
			border: 1px solid #E1CCA9
			border-radius: 5px
			color: #4d3e35
			padding: 15px 10px
			strong
				font-weight: 700
	

	a.help
		width: 21px
		height: 21px
		text-indent: -9999px
		display: inline-block
		vertical-align: middle

		
		
	.success-msg
		.check-picto
			width: 96px
			height: 96px
		h2
			font-size: 24px
			text-align: center
			border-bottom: 0
			margin: 0
		h3
			font-size: 20px
			line-height: 32px
			font-weight: 300
			margin: 10px 0 0 0
	
					
	.actions
		border-top: 1px solid #dcdcdc
		display: flex
		flex-direction: row
		
		.sec-payments
			font-weight: 300
			vertical-align: middle
			font-style: italic
			margin-top: 10px
			img
				vertical-align: middle
		a.pri,
		a.sec
			font-family: 'Roboto', sans-serif
			font-size: 22px
			display: block
			white-space: nowrap
			height: 37px
			margin: 0 5px
			padding: 17px 20px 0 20px
			box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.50), inset -1px 1px 0px 0px rgba(255,255,255,0.25)
			text-transform: uppercase
			font-weight: 700
			color: #fff
			line-height: 22px
			text-decoration: none
			text-shadow: 0px -1px 0px rgba(0,0,0,0.25)
			transform: skew(-4deg)
			cursor: pointer
			transition: all 50ms ease-in
			span
				transform: skew(4deg)
		a.pri:hover,
		a.sec:hover
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset -1px 1px 0px 0px rgba(255,255,255,0.25)
			margin-top: 2px
			margin-bottom: -2px
			
		a.pri:active,
		a.sec:active
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50), inset -1px 0px 0px 0px rgba(255,255,255,0.25)
			
		a.pri
			background: #d8232a
			float: right
		a.pri:hover
			a.cta-bttn:hover
				background: #BE1A20
		
		a.sec
			background: #393939
			float: left
		a.sec:hover
			background: #202020
			float: left
			