section.cta
	background-size: cover
	height: 400px
	background-image: url('../img/cta_bg.jpg')
	
	.pattern
		background: url('../img/diag_bg.png')
		height: 100%
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		text-align: center
		
		
		a.cta-bttn
			transform: skew(-4deg)
			margin: 50px 0
			span
				transform: skew(4deg)
			
		a.cta-bttn:hover
			background: #CE1E25
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset -1px 1px 0px 0px rgba(255,255,255,0.25)	
		
		a.cta-bttn:active
			background: #bc171d
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50), inset -1px 0px 0px 0px rgba(255,255,255,0.25)
			
		.pricing
			color: #fff
			font-style: italic
			font-weight: 300
			
		.cta-links
			text-shadow: 0px 1px 2px #000
			font-weight: 400