.faqlist
	margin-bottom: 50px
	h3
		font-size: 18px
		font-weight: 300
		padding: 7px 0
		a
			color: #d0021b
			display: block
			line-height: 24px
			cursor: pointer
			text-decoration: underline
			padding: 0 0 0 20px
		a:hover
			text-decoration: none
	h3.open
		article
			margin: 0 0 0 20px	
			p
				font-size: 16px
				line-height: 27px