section.feature
	background: #fff
	img
		margin: 0 auto
	p
		margin-bottom: 0
		
.fact
	display: flex
	.inner
		border: 1px solid #DCDCDC
		box-shadow: inset 0px -1px 0px 0px #FFFFFF
		border-radius: 4px
		display: flex
		i
			display: inline-block
			width: 32px
			height: 32px
			margin: 14px
			background-position: 0 0
		strong
			font-size: 18px
			font-weight: 300
			margin: 22px 14px 0 0
			text-align: left
			display: inline-block
		
		i.ico-level5
			background-position: 0 0
		i.ico-sizes
			background-position: 0 -64px
		i.ico-foodgrade
			background-position: 0 -32px
		i.ico-accurate
			background-position: 0 -96px
		i.ico-weight
			background-position: 0 -128px
			
.av-sizes
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	strong
		margin: 30px 0 15px 0
		font-weight: 700
		display: inline-block
	ul
		display: flex
		flex-direction: row
		border: 1px solid #DCDCDC
		box-shadow: inset 0px -1px 0px 0px #FFFFFF
		border-radius: 4px
		margin: 0 0 15px 0
		
		li
			border-left: 1px solid #dcdcdc
			width: 105px
			height: 48px
			padding: 16px 0 0 0
			text-align: center
			font-size: 32px
			font-weight: 300
			color: #2F2F2F
		li:first-child
			border: none
	a
		font-weight: 300
		color: #d0021b
		text-decoration: underline
		margin: 0 0 40px 0
	a:hover
		text-decoration: none