footer
	background: #fff
	
	.column
		margin-top: 50px
		margin-bottom: 50px
	
	h2
		font-size: 24px
		line-height: 36px
		font-family: 'Roboto Condensed', sans serif
		font-weight: 300
		font-style: italic
		margin: 0
	
	p
		font-size: 16px
		line-height: 28px
		font-weight: 300
		margin: 5px 0 0 0
		
	ul.social
		list-style: none
		margin: 8px 14px
	
		li
			display: inline
			
			a
				display: inline-block
				width: 42px
				height: 42px
				text-indent: -9999px
		
		li
			a.fb
				background-position: 0 0
			a.fb:hover
				background-position: 0 -42px
			a.twitter
				background-position: -84px 0
			a.twitter:hover
				background-position: -84px -42px
			a.youtube
				background-position: -126px 0
			a.youtube:hover
				background-position: -126px -42px
			a.instagram
				background-position: -168px 0
			a.instagram:hover
				background-position: -168px -42px
			a.gplus
				background-position: -42px 0
			a.gplus:hover
				background-position: -42px -42px
			a.pinterest
				background-position: -210px 0
			a.pinterest:hover
				background-position: -210px -42px
	
	.nl-subscribe
		display: flex
		margin: 15px 0 0 0
		
		input[type="text"]
			width: 100%
			background: #fff
			border: 1px solid #929292
			border-right: 1px solid #d8232a
			border-radius: 4px 0 0 4px
			font-size: 16px
			height: 42px
			padding: 0 0 0 10px
			outline: none
		
		button
			border-radius: 0 4px 4px 0
			border: none
			margin: 0
			text-align: center
			font-size: 18px
			color: #fff
			font-family: 'Roboto Condensed'
			text-transform: uppercase
			font-style: italic
			background: #d8232a
			text-shadow: 0px -1px 0px rgba(0,0,0,0.25)
			
		
	
	.copyright
		font-size: 16px
		padding: 20px 0
		text-align: center
		flex-direction: column
		border-top: 1px solid #dcdcdc
		font-weight: 300
		align-items: center
		overflow: hidden
		
		
		.copy
			align-self: center
		
		.links
			align-self: center
			a
				white-space: nowrap
				color: #d8232a
			a:hover
				text-decoration: none
			.bull
				padding: 0 5px
				font-weight: 700