header
	background: #fff
	position: fixed
	top: 0
	left: 0
	right: 0
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50)
	z-index: 101

	.wrapper
		height: 86px
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		align-items: center
		align-content: flex-start
		
		a.logo
			display: block
			width: 72px
			height: 61px
			margin: 0 30px 0 0
			background: url('../img/nocry_logo.png') top left no-repeat
			text-indent: -9999px
			
		nav
			display: block
			flex-grow: 1
			ul
				font-size: 18px
				line-height: 18px
				text-transform: uppercase
				font-weight: 300
				font-style: italic
				margin: 3px 0 0 0
					
				li
					display: inline
					margin: 0 16px 0 0
					
					a
						text-decoration: none
						color: #000
						transition: all 100ms ease-in
					a:hover
						color: #d7232a
		
		a.support
			background: #f9f9f9
			transform: skew(-4deg)
			font-weight: 300
			font-size: 16px
			line-height: 32px
			margin: 0 0 0 1px
			padding: 5px 12px 4px 6px
			text-decoration: none
			color: #d7232a
			text-shadow: 0px 1px 0px #fff
			transition: all 100ms ease-in
			
			i
				display: inline-block
				width: 32px
				height: 32px
				transform: skew(4deg)
				vertical-align: middle
			i.phone
				background-position: 0 0
			i.mail
				background-position: -32px 0
				
		a.support:hover
			background: #f1f1f1
			
		a.buynow
			margin: -2px 0 0 3px
			padding: 1px 16px 0px 16px
			height: auto
			display: inline-block
			white-space: no-wrap
			color: #fff
			font-size: 20px
			box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.50), inset -1px 1px 0px 0px rgba(255,255,255,0.25)
			transform: skew(-4deg)
			cursor: pointer
			
			span
				display: inline-block
				transform: skew(8deg)	
			
		a.buynow:hover
			color: #fff