section.hero
	overflow: hidden
	
	.hero-wrapper
		background-size: cover
		z-index: 99
		.pattern
			background: url('../img/diag_bg.png')
			height: 100%
			display: flex
			flex-wrap: nowrap
			flex-direction: column
			align-items: center
		
			.hero-content
				display: flex
				flex-direction: column
				flex-grow: 1
				justify-content: center
				background: transparent
				
				h1
					font-family: 'Roboto Condensed', sans-serif
					font-weight: 700
					text-transform: uppercase
					font-style: italic
					display: block
					color: #fff
					text-shadow: -1px 2px 1px rgba(0,0,0,0.50)
					
					strong
						display: block
						clear: both
						text-align: center
					
					span
						font-family: 'Roboto', sans-serif
						font-weight: 300
						margin: 0 10px
					
					span.begin
						float: left
						
					span.end
						float: right
						
				.cta
	
					background: rgba(0,0,0,0.5)
					border-radius: 4px
					
						
					.amazon1
						text-align: center
						
						.amzn-logo
							display: inline-block
							width: 102px
							height: 20px
							margin: 10px 0 6px 0
							text-indent: -9999px
						
						.amzn-n1
							background: #ff9900
							display: inline-block
							height: 21px
							margin: 9px 0 0 12px
							padding: 7px 7px 0 7px
							border-radius: 3px
							position: relative
							text-transform: uppercase
							color: #fff
							
							.end
								display: block
								position: absolute
								width: 10px
								height: 28px
								float: right
								top: 0px
								right: -7px
								transform: skew(4deg)
													
						.review-count
							margin: 5px 0 0 0
							color: #fff
							font-size: 12px
							clear: both
							
							a
								color: #d8232a
							
							a:hover
								text-decoration: none
							
					.pricing
						color: #fff
						.price
							font-size: 24px
						.shipping
							font-size: 14px
							
							
			.thumbs
				background: rgba(0,0,0,0.5)
				align-self: flex-end
				width: 100%
	
				
				.wrapper
					background: transparent
					margin: 0 auto
					display: flex
					flex-direction: row
					justify-content: center
					align-items: center
					
					a.feature
						margin: -9px 2px 0 2px
						transform: skew(-4deg)
						box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.50)
						text-decoration: none
						cursor: pointer
						float: left
						.pic
							background: #fff
							overflow: hidden
							.bendback
								margin: 0 0 0 -10px
								width: 220px
								height: 200px
								transform: skew(4deg)
								background-repeat: no-repeat
								background-position: center center
						.txt
							background: #000
							color: #fff
							text-align: center
							font-weight: 300
							cursor: pointer
							
					.feature:hover
						cursor: pointer
						transition: all 200ms ease-in
						
						.txt
							background: #2c2c2c				
					