@media screen and (min-width: $break-md) and (max-width: $break-lg - 1)
	
	// HERO
	section.hero
		padding: 0 0 20px 0
		background: #fff
		.hero-wrapper
			margin: 86px 0 0 0
			background-position: center top
			background-repeat: no-repeat
			background-image: url('../img/hero_bg.jpg')
			background-size: cover
			min-height: 600px
			max-height: 1000px
			overflow: visible
		
				
			.hero-content
				margin: 60px auto 60px auto
				
				h1
					font-size: 84px
					margin: 0 auto
					width: 820px
					
					strong
						display: block
						white-space: nowrap
						clear: both
					
					span
						font-size: 64px
						margin: 0 10px
						
				.cta
					height: 70px
					background: rgba(0,0,0,0.5)
					max-width: 1140px
					margin: 40px 50px 25px 50px
					transform: skew(-4deg)
					text-align: center
					display: flex
					
					a.cta-bttn
						margin-top: -7px
						
						span
							transform: skew(4deg)
							font-size: 32px
						
					a.cta-bttn:hover
						margin-top: -6px
						
					a.cta-bttn:active
						margin-top: -5px
						
					.amazon1
						width: 300px
						margin: 0
						text-align: center
						
						.amzn-logo
							display: inline-block
							width: 102px
							height: 20px
							margin: 14px 0 6px 0
							background: url('../img/amazon_logo.png') 0 0 no-repeat
							text-indent: -9999px
						
	
													
						.review-count
							margin: 5px 0 0 0
							color: #fff
							font-size: 12px
							clear: both
							
							a
								color: #d8232a
							
							a:hover
								text-decoration: none
								
						.pricing
							width: 300px
							color: #fff
							text-align: left
							padding: 13px 0 0 15px
							text-align: left
							
							.price
								margin: 10px 0 0 0
								font-size: 24px
							.shipping
								font-size: 14px
								line-height: 24px
					
					.pricing
						width: 300px
						color: #fff
						text-align: left
						padding: 15px 0 0 15px
						
						.price
							font-size: 24px
						.shipping
							font-size: 14px
							
			.thumbs
				flex-basis: 238px
				
				.wrapper
					max-width: 1140px
					
					.feature
						margin: -9px 2px 0 2px
						transform: skew(-4deg)
						box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.50)
						
						.pic
							width: 180px
							height: 180px
						
						.txt
							font-size: 16px
							line-height: 24px
							padding: 12px 0 12px 0
							
					.feature:nth-child(2),
					.feature:nth-child(4)	
						.txt
							padding: 14px 0 14px 0
						
					
	// FEATURES
	section.feature
		img
			width: 85%
			height: auto
	
	.fact
		.inner
			margin: 30px auto 70px auto
	
	img.magnify-nozoom
		display: none
	
	// REVIEWS
	.reviews
		margin: 0 0 70px 0
		.review
			margin: 0 20px 35px 20px
	
	.video
		margin: 0 0 70px 0
		a.screen
			img
				width: 100%
				height: auto
			
		.title
			font-size: 16px
			margin: 15px 0 0 0
	
	
	
	// SIZING
	.palm-diameter
		width: 465px
		height: 540px
	
	// SECTION GENERAL STYLES
	section
		overflow: hidden
		h2
			font-size: 48px
			line-height: 60px
			margin: 60px 0 30px 0
			text-align: center
			
		p
			font-size: 16px
			line-height: 28px
			margin: 0 0 28px 0
		
	section
		div[class^='col']
			h2
				text-align: left
	
	// CTA
	.pricing
		font-size: 16px
		line-heigh: 23px
		
		strong
			font-size: 26px
			
	.cta-links
	
	//CHECKOUT
	ul.steps
		margin: 50px 0 40px 0
		
	.coupon
		margin: 0 0 20px 0
	
		input[type='text']
			font-size: 16px	
			width: 120px

	.receipt
		margin-top: 0px
		
	.success-msg
		margin: 120px 0
		.check-picto
			margin: 0 auto 20px auto
	
	.payment-methods
		padding: 15px 0 5px 0

	.product-page
		h2
			margin: 10px 0 0 14px!important
		.price
			margin: 0 0 10px 18px
		
		img.prod-pic
			margin: 0 0 45px 0

		
	ul.productlist
		li
			margin: 0 10px
	
	
	.actions
		justify-content: space-between
		padding: 20px 10px 100px 10px
		.sec-payments
			margin-top: 10px
			img
				vertical-align: middle
				margin: 0px 0 4px 12px
		
	// FOOTER
	footer
		
		.column
			margin-top: 30px
			margin-bottom: 30px
	
		.nl-subscribe
			button
				width: 142px
			
		h2
			font-size: 24px
			line-height: 36px
		
		.copyright
			font-size: 14px
			.copy
				padding: 0
			.links
				white-space: nowrap
				flex-direction: row
				justify-content: center
				margin: 0 0 10px 0
				
				.bull
					padding: 0 5px
					font-weight: 700
			
	header,
	section,
	footer
		.wrapper
			margin: 0 30px