@media screen and (min-width: $break-xs) and (max-width: $break-sm - 1)
	body
		padding: 60px 0 0 0
				
	header
		height: 60px
		.wrapper
			display: block
			a.logo
				width: 48px
				height: 40px
				background: url('../img/nocry_logo_mobile.png')
				background-size: 48px 40px
				margin: 10px 0 0 0
				float: left
			nav
				display: none
			a.support
				float: right
				margin: 8px 1px 0 0
				padding-right: 4px
				
				.txt
					display: none
			
			a.buynow
				display: none
	
	// HERO
	.hero
		margin: 60px 0 0 0
		overflow: hidden
		background-image: url('../img/hero_bg_mobile.jpg')
		overflow: hidden
		.hero-content
			margin: 0 20px
			display: none
			flex-direction: column
			flex-grow: 1
			justify-content: center
			background: transparent
			
			h1
				font-size: 42px
				line-height: 54px
				margin: 50px 10px 50px 10px
				text-align: center
				
				span
					font-size: 24px
					line-height: 36px
					margin: 0 10px
	
					
			.cta
				background: rgba(0,0,0,0.5)
				border-radius: 0px
				transform: skew(0deg)
				text-align: center
				display: flex
				flex-direction: column
				margin: 0 20px
				
				a.cta-bttn
					margin: 0 -10px
					transform: skew(-4deg)
					
				.amazon1
					width: 100%
					margin: 10px 0 15px
					text-align: center
					
							
				.pricing
					margin: 3px 0 15px 0

					text-align: center
					padding: 13px 0 0 0px
					.price
						font-size: 24px
					.shipping
						font-size: 14px
						line-height: 26px
			.cta-links
				font-size: 14px
				line-height: 26px
				margin: 20px 20px
				a
					white-space: nowrap
			
		.thumbs
			display: none
	
	// FEATURES
	section.feature
		img
			width: 100%
			height: auto
		
	.fact
		.inner
			margin: 20px auto 40px auto
	
	.magnify
		display: none
		
	// REVIEWS
	.reviews
		margin: 0 0 25px 0
		.review
			margin: 0 0px 25px 0px
	
	.video
		margin: 0 0 25px 0
		a.screen
			img
				width: 100%
				height: auto
			
		.title
			font-size: 16px
			line-height: 28px
			margin: 15px 0 0 0
	
	
	
	// SIZING
	.palm-diameter
		width: 280px
		height: 325px
		margin: 0 auto
		
	// CTA
	section.cta
		background-position: center top
		background-repeat: no-repeat
		background-size: cover		
	
	// SECTION GENERAL STYLES
	section
		overflow: hidden
		h2
			font-size: 48px
			line-height: 60px
			margin: 60px 0 30px 0
			text-align: center
			
		p
			font-size: 16px
			line-height: 28px
			margin: 0 0 28px 0
		
	section
		div[class^='col']
			h2
				text-align: left
	
	// SECTION GENERAL STYLES
	section
		overflow: hidden
		h2
			font-size: 48px
			line-height: 60px
			margin: 30px 0 20px 0
			text-align: center
			
		p
			font-size: 16px
			line-height: 28px
			margin: 0 0 20px 0
			
	
	//CHECKOUT
	ul.steps
		margin: 50px 0 20px 0
		
	.coupon
		margin: 0 0 20px 0
		
		input[type='text']
			font-size: 16px	
			width: 120px
		
	.receipt
		margin-top: 0px
	.success-msg
		margin: 120px 0
		.check-picto
			margin: 0 auto 20px auto
	.payment-methods
		padding: 15px 0 5px 0
	
	.product-page
		h2
			margin: 15px 0 0 0
		.price
			margin: 0 0 10px 5px
	
	.prod-pic
		display: none
	ul.productlist
		li
			margin: 0
	.actions
		justify-content: center
		padding: 5px 10px 20px 10px
		.sec-payments
			margin-top: 10px
			img
				vertical-align: middle
				margin: 15px 0 20px 12px
		
	.actions.single
		flex-direction: column!important
	
	// CTA
	.pricing
		font-size: 16px
		line-heigh: 23px
		
		strong
			font-size: 22px
			line-height: 36px
			display: block	
		
	.cta-links
		line-height: 26px
	
	// FOOTER
	footer
		h2
			font-size: 24px
			line-height: 36px
			text-align: center
		
		
			
		.column
			margin-top: 20px
			margin-bottom: 20px
	
		.nl-subscribe
			button
				width: 182px			

		.copyright
			font-size: 12px
			.copy
				padding: 0
			.links
				white-space: nowrap
				flex-direction: row
				justify-content: center
				margin: 0 0 10px 0

				.bull
					padding: 0 5px
					font-weight: 700
		
			
	header,
	section,
	footer
		.wrapper
			margin: 0 20px
	
		
	
	
	section
		h2
			font-size: 32px
			line-height: 44px
			
	


