ul.social
	li
		a
			background: url('../img/social_icos.png')
			
.amazon1
	.amzn-logo
		background: url('../img/amazon_logo.png') top left no-repeat

a.paymeth
	background: url('../img/paymeth_logos.png') 84px 0 no-repeat, linear-gradient(-180deg, #f7f7f7 1%, #e9e9e9 100%)
	background-size: 188px 256px

a.paymeth.active
	span.check
		background: #4a90e2 url('../img/icos_check.png') 0 0 no-repeat

.video
	a.screen
		.play
			background: #d8232a url(../img/play_ico.png) center center no-repeat

.success-msg
	.check-picto
		background: url('../img/check_picto.png')			

a.help
	background: url('../img/ico_help.png')

.amnt
	a
		background: url(../img/amnt_controls.png) 0 0 no-repeat

a.support
	i
		background: url('../img/icos_support.png')

.amzn-n1
	.end
		background: url('../img/ribbon_end.png') 0 0 no-repeat


.faqlist
	margin-bottom: 50px
	h3
		background: url('../img/faq_chevron.png') 0 11px no-repeat
	h3.open
		background: url('../img/faq_chevron.png') 0 -102px no-repeat

.fact
	i
		background-image: url('../img/fact_icons.png')

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)

	header
		a.logo
			background: url('../img/nocry_logo@2x.png') top left no-repeat 
			background-size: 72px 61px
				
	ul.social
		li
			a
				background: url('../img/social_icos@2x.png')
				background-size: 252px 84px

	.amazon1
		.amzn-logo
			background: url('../img/amazon_logo@2x.png') top left no-repeat
			background-size: 102px 20px
	
	a.paymeth
		background: url('../img/paymeth_logos@2x.png') 84px 0 no-repeat, linear-gradient(-180deg, #f7f7f7 1%, #e9e9e9 100%)
		background-size: 188px 256px
					

		
.video
	a.screen		
		.play
			background: #d8232a url(../img/play_ico@2x.png) center center no-repeat
			background-size: 36px 37px
			
.success-msg
	.check-picto
		background: url('../img/check_picto@2x.png')
		background-size: 96px 96px
		
a.help
	background: url('../img/ico_help@2x.png')
	background-size: 21px 21px
	
.amnt
	a
		background: url(../img/amnt_controls@2x.png) 0 0 no-repeat
		background-size: 64px 32px
		
a.support
	i
		background: url('../img/icos_support@2x.png')
		background-size: 64px 32px
		
.amzn-n1
	.end
		background: url('../img/ribbon_end@2x.png') 0 0 no-repeat
		background-size: 10px 28px
		
.faqlist
	margin-bottom: 50px
	h3
		background: url('../img/faq_chevron@2x.png') 0 11px no-repeat
		background-size: 16px 128px
	h3.open
		background: url('../img/faq_chevron@2x.png') 0 -102px no-repeat
		background-size: 16px 128px
		
.fact
	i
		background-image: url('../img/fact_icons@2x.png')
		background-size: 32px 160px