.reviews
	.review
		overflow: hidden
		
		p
			margin: 0 0 11px 0
		.auth
			line-height: 20px
			img.pic
				border-radius: 50%
				float: left
				margin: 0 13px 0 0
			.name
				display: block
				font-weight: 700
				font-size: 16px
				padding: 12px 0 0 0
					
			.title
				display: block
				font-weight: 300
				font-size: 14px
				

.video
	a.screen
		position: relative
		display: inline-block
		cursor: pointer
		
		.play
			position: absolute
			top: 50%
			left: 50%
			display: inline-block	
			width: 128px
			height: 84px
			margin: -42px 0 0 -64px
			text-indent: -9999px
			background: #d8232a url(../img/play_ico.png) center center no-repeat
			box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.50), inset -1px 1px 0px 0px rgba(255,255,255,0.25)
			text-shadow: 0px -1px 0px rgba(0,0,0,0.25)
			transition: all 50ms ease-in
			transform: skew(-4deg)
		img
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35)
			
	a.screen:hover
		.play
			margin: -39px 0 0 -64px
			background-color: #D02128
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset -1px 1px 0px 0px rgba(255,255,255,0.25)
	
	a.screen:active
		.play
			margin: -38px 0 0 -64px
			background-color: #bc171d
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50), inset -1px 0px 0px 0px rgba(255,255,255,0.25)
		
	.title
		text-align: center
		color: #616161
		font-style: italic
		font-weight: 300