.popup
	padding: 0
	section.sizing
		h2
			font-family: 'Roboto Condensed', sans-serif
		
section.sizing
	background: #fff
	
.palm-diameter
	background: url('../img/palm_diameter.png')
	background-size: cover
	
	.measure-here
		width: 100%
		height: 100%
		background: url('../img/palm_measure.png')
		background-size: cover
		

.sizing-table
	width: 184px
	border: 1px solid #dcdcdc
	box-shadow: inset 0px -2px 0px 0px #fff
	border-radius: 4px
	font-weight: 300
	margin: 0 auto
	
	ul
		li
			border-bottom: 1px solid #dcdcdc
			
			strong
				border: 1px solid #dcdcdc
				border-radius: 50%
				width: 31px
				height: 25px
				display: inline-block
				margin: 8px
				padding: 6px 0 0 0
				text-align: center
				font-size: 19px
				line-height: 19px
		li:last-child
			border-bottom: none