.terms
	background-color: #fff
	padding: 20px 50px 70px 50px
	
	h1
		font-size: 42px
		margin-top: 42px
		margin-bottom: 8px
		font-weight: 700
		
	h2
		margin-top: 32px
		margin-bottom: 8px
		font-size: 24px
		font-weight: 700
		
	h3
		font-weight: 700
		margin-top: 16px
		line-height: 27px
	
	ul
		line-height: 27px
		margin-bottom: 16px
		list-style: inherit
		
		li
			list-style: inherit
			margin-left: 30px 
				
	p
		font-size: 16px
		line-height: 27px
		margin-bottom: 8px
		
	strong
		font-weight: 700
		
	a
		color: #d8232a
	
	a:hover
		text-decoration: none