body
	font-family: 'Roboto', sans-serif
	margin: 0
	padding: 80px 0 0 0

header
	height: 86px

header,
section,
footer
	.wrapper
		max-width: 1140px
		margin: 0 auto

.webui-popover-content
	font-weight: 300
	font-size: 14px
	line-height: 20px

@import '_header'
@import '_hero'
@import '_features'
@import '_sizing'
@import '_reviews'
@import '_faq'

@import '_cta'

@import '_footer'

@import '_terms'

@import '_checkout'



a.cta-bttn
	display: inline-block
	white-space: nowrap
	flex-shrink: 0
	height: 61px
	padding: 22px 27px 0 27px
	background: #d8232a
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.50), inset -1px 1px 0px 0px rgba(255,255,255,0.25)
	font-size: 36px
	font-family: 'Roboto', sans-serif
	letter-spacing: -1px
	text-transform: uppercase
	font-weight: 700
	color: #fff
	line-height: 42px
	text-decoration: none
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25)
	transition: all 50ms ease-in
	
	span
		transform: skew(4deg)
	
a.cta-bttn:hover
	background: #CE1E25
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset -1px 1px 0px 0px rgba(255,255,255,0.25)	

a.cta-bttn:active
	background: #bc171d
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50), inset -1px 0px 0px 0px rgba(255,255,255,0.25)
	
.cta-links
	color: #fff
	font-size: 14px
	font-weight: 400
	font-style: italic
	text-align: center
	text-shadow: 0px 1px 2px #000
	font-weight: 400
	
	a
		color: #d8232a
		font-weight: 400
		
	a:hover
		text-decoration: none


section.highlighted
	background: #fafafa
	box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.40)
	
section
	overflow: hidden
	h2
		font-family: 'Roboto Condensed', sans-serif
		font-weight: 700
		font-style: italic
		
	p
		font-weight: 300

.selectize-control
	margin-top: 2px
	background: #fff
	border: 1px solid #929292
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.50)
	border-radius: 5px
			
.selectize-input
	height: 37px
	line-height: 18px!important
.selectize-control,
.selectize-dropdown,
.selectize-input
	text-align: left!important
	font-size: 18px!important
	font-weight: 300!important


		
// RESPONSIVE SHIT		
$break-xs: 180px
$break-sm: 600px
$break-md: 980px
$break-lg: 1101px

@import '_resp_xs'
@import '_resp_sm'
@import '_resp_md'
@import '_resp_lg'
@import '_retina'
		
		