section.checkout
	

	.wrapper
		.row.center-lg
			.col-lg-11
				ul.steps
					li
						i
						span.txt Choose products
					li
						i
						span.txt Shipping details
					li
						i
						span.txt Payment
					
		.row.center-lg
			.col-lg-10
				
				
				h2 Shipping information
		.row.center-lg.formfields
			.col-xs-10.col-sm-10.col-md-5.col-lg-5
				label First & Last name
				input(type='text')
				
				label Phone
				input(type='text')
				
				label Street
				input(type='text')
			
				label City
				input(type='text')
				
			.col-xs-10.col-sm-10.col-md-5.col-lg-5
				label E-Mail
				input(type='text')
				
				label Company
				input(type='text' placeholder='optional')
				
				label Apt, suite, etc.
				input(type='text')
			
				label State & Postal code
				
				select#select-beast.demo-default(placeholder='Select a person...')
					option Thomas Edison
					option Nikola
					option Nikola Tesla
					option Arnold Schwarzenegger	
					script.
						$('#select-beast').selectize({
							create: true,
						    sortField: 'text'
						});
					
				

				
	
			
				
				input(type='text')
		.row.center-lg
			.col-lg-10
				h2 Payment method
		
		.row.center-lg
			.col-lg-10.actions
				a.sec Back
				a.pri Continue