section.cta
	.pattern
		.wrapper
			.pricing Today only <strong>$14.99 + FREE 1-Day Shipping</strong> to South Carolina 
			a.cta-bttn(href="checkout1.html")
				span Buy Gloves Now
			.cta-links Price includes: <a href="#" class="satisf">100% Satisfaction Guarantee</a> | <a href="#" class="returns">Free Returns</a> | <a href="#" class="ebook">Free Ebook</a>