section.highlighted#faq
	.wrapper
		h2 Frequently Asked Questions
		.row
			.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1
				
				.faqlist#faq(data-collapse)
					h3 How to determine which size would fit me best?
					article
						p Use our size guide to see which size fits your hand best. Measure your palm width as shown in the guide. The guide has information about which size fits which palm widths.
					h3 Are both gloves in the pair fitting the same hand? Are they ambidextrous?
					article
						p Yes, the gloves are flat and either can be placed on either hand. They are cut resistant on both sides of the glove.
					h3 Do these gloves provide a good grip too?
					article
						p NoCry gloves do provide a good grip for most surfaces. Compared to a naked hand the grip is much better for holding meat, fish or other items with soft surfaces. Due to the texture of the gloves it's a bit harder to grab hard and slippery surfaces like ceramics though.
					h3 Why don't you use rubber coating to improve the grip of the gloves?
					article
						p Rubber is a bad material for food processing, as it's hard to clean and can carry dangerous bacteria. Our gloves are 100% safe to use with food as we are not using rubber or any other dangerous material in them.
					h3 Are the gloves washable? What are the care instructions for them?
					article
						p Our gloves are machine washable. After use it's recommended to wash them with a mild detergent and hang them to drip dry. Keep the washing machine water temperature at or below 104°F (40°C). DO NOT iron or use machine drying. Hang the gloves to drip dry.
					h3 What about pointy things like oyster shucking? Are they puncture resistant?
					article
						p NoCry gloves are knitted and are designed to offer protection against slicing movements from sharp objects. They are not designed to protect against punctures though. In case of a knife puncture they can reduce the injury but most certainly won't prevent it from happening.
					h3 Would these also work to prevent accidents with electric meat slicers?
					article
						p They do help prevent accidents from electric meat slicers or food processors. The blades of the meat slicers perform slicing movements. NoCry gloves can stop the blades from reaching the skin if you manage to pull your hand away quickly enough. But please note that we do not recommend using them with power tools and you have to be extra careful while doing so.
					h3 Are both sides of glove protected?
					article
						p Yes. NoCry gloves are ambidextrous and are protected from both sides. They can also be worn on both hands.
					h3 What is the material of the gloves? What are they made out of?
					article
						p Unlike most other cut resistant gloves we do not use metal nowhere in the design of our gloves. That would make the gloves bulky and inelastic. Our gloves are made from high molecular weight polyethylene, which is combined with silica-based fibers. This design makes our gloves thin, lightweight, elastic and super durable at the same time.
					h3 Will they protect my hands when cleaning and sharpening my extremely sharp Ninja Swords?
					article
						p They most certainly do. NoCry gloves are designed especially for protecting hands against very sharp blades like chef knives and mandolin slicers.
					h3 Are the gloves heat resistant?
					article
						p They do offer more heat protection than nothing but NoCry gloves are not designed to be heat resistant.
					h3 Is it safe to use these gloves in kitchen? Can I touch food with them?
					article
						p Yes. Our gloves are 100% safe to use with food. They are made out of friendly materials and will not carry dirt or bacteria.
					h3 Do your hands get wet if you're handling wet things/washing things with the gloves on?
					article
						p Yes. The gloves are not waterproof. If you wish to keep your hands try we suggest using regular latex gloves underneath the NoCry gloves.
					h3 Can they be put in microwave to kill food bacteria between uses?
					article
						p Yes, you can put them in the microwave since there is no metal in them. However, to kill bacteria you would have to place the wet gloves in the microwave until the water steams. This may cause the material to deteriorate or even catch fire if there is any oil or grease in them. We would recommend you soak them in anti bacterial soap in hot water or use hypochlorite based antibacterial solution that is commonly used in the food prep industry to wash fruits and vegetables.