section.feature#features
	.wrapper
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.last-xs.first-sm.first-md.first-lg
				.magnify
					.large
					.imgbox
						img.thumb(src='img/pic_material.jpg' alt='Level 5 Cut Resistance' width='520' height='520')
				img.magnify-nozoom(src='img/pic_material_hand.jpg')
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.first-xs.last-sm.last-md.last-lg
				h2 The Highest Level 5 Cut Resistance to Protect<br> Your Hands
				p EN388 level 5 cut resistance gloves are made of food grade polyethylene and cutting edge silica based fibers and will eliminate or minimize the potential injury when using a sharp knife or a slicer.
				.fact
					.inner
						i.level5
						strong EN388 Level 5
			
section.feature.highlighted#feat2
	.wrapper
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				h2 Fit Like a Second Skin<br> to All Hand Types
				p NoCry cut-resistant gloves are very thin, elastic and form-fitting. No matter what your hand size, you will get a tight fit and a strong grip.
				.av-sizes
					strong Available sizes
					ul.sizetable
						li S
						li M
						li L
					a(href='#sizing') See which size suits you best
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				img(src='img/pic_gloves.png' alt='NoCry Gloves')
			
section.feature#feat3
	.wrapper
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.last-xs.first-sm.first-md.first-lg
				img(src='img/pic_chopping.png' alt='Ideal for food preparation')
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.first-xs.last-sm.last-md.last-lg
				h2 Ideal for Food-<br> Preparation, Great for<br> Other Activities Too
				p NoCry gloves are ideal for food-preparation, but our clients also use it for carpentry, fishing, car repairs or even to clean ninja swords!
				.fact
					.inner
						i.ico-foodgrade
						strong Food grade material
			
section.feature.highlighted#feat4
	.wrapper
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				h2 Maximum Grip and<br> Accuracy
				p NoCry gloves can provide a greater grip than bare hands.  Also, the gloves are very comfortable and help you remain accurate.
				.fact
					.inner
						i.ico-accurate
						strong Very accurate
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				img(src='img/pic_cutting.png' alt='NoCry gloves')
section.feature#feat5
	.wrapper
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.last-xs.first-sm.first-md.first-lg
				img(src='img/pic_scale.jpg' alt='Machine washable')
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.first-xs.last-sm.last-md.last-lg
				h2 Thin, but Durable and<br> Machine Washable
				p NoCry cut resistant gloves weigh only about 24 grams per glove, yet they are highly durable and machine-washable. Under normal usage the NoCry gloves can be washed around 30 times.
				.fact
					.inner
						i.ico-weight
						strong 0.85 oz