footer
	.wrapper
		case largefooter
			when true
				.row
					.column.col-xs-12.col-sm-6.col-md-6.col-lg-6.last-xs.first-sm.first-md.first-lg
						h2 Follow Us For Kitchen Safety Tips 
						ul.social
							li
								a.fb(href='#') Facebook
							li
								a.twitter(href='#') Twitter
							li
								a.gplus(href='#') Google Plus
							li
								a.youtube(href='#') Youtube
							li
								a.instagram(href='#') Instagram
							li
								a.pinterest(href='#') Pinterest
					
					.column.col-xs-12.col-sm-6.col-md-6.col-lg-6.first-xs.last-sm.last-md.last-lg
						h2 Join the Kitchen Safety Inspiration Newsletter
						p Join our mailing list and be the first to learn about the latest news and special offers. Enter your email address
						
						form
							.nl-subscribe
								input(type='text' placeholder='Your E-Mail')
								button Subscribe
		
	.copyright
		.row
			.col-xs-12.last-xs.copy Copyright &copy; 2015 NoCry Cut Resistant Gloves
			.col-xs-12.first-xs.links
				a#terms(href='terms.html') Terms & Conditions
				span.bull &bull;
				a#shipping(href='shipping.html') Shipping & Returns
				span.bull &bull;
				a#privacy(href='privacy.html') Privacy