header
	.wrapper
		a.logo(href='index.html') NoCry Gloves		
		nav
			case shownav
				when true
					ul
						li
							a(href='#features') How it works
						li
							a(href='#sizing') Size chart
						li
							a(href='#reviews') Reviews
						li
							a(href='#faq') FAQ
						li
							a.buynow.cta-bttn(href='checkout1.html')
								span Buy now
					
		// a.support(href='callto:+37253452628')
			// i.phone
			// span.txt +37253452628
		a.support(href='mailto:wecare@nocry.org')
			i.mail
			span.txt wecare@nocry.org