section.hero
	.hero-wrapper
		.pattern
			.hero-content
				h1
					span.begin.animated.slideInLeft #1 best fitting
					strong Cut Resistant Gloves
					span.end.animated.slideInRight in Amazon.com		
				.cta
					.amazon1
						.amzn-logo Amazon.com
						.amzn-n1 #1 Best Seller
							.end
						.review-count Rated 5 stars by <a href="#">926 people</a> in Amazon.com 
					a.cta-bttn(href="checkout1.html")
						span Buy Gloves Now
					.pricing
						.price $14.99
						.shipping + FREE 1-Day Shipping to South Carolina
				.cta-links Price includes: <a href="#" class="satisf">100% Satisfaction Guarantee</a> | <a href="#" class="returns">Free Returns</a> | <a href="#" class="ebook">Free Ebook</a>
	
			.thumbs
				.wrapper
					a.feature(href='#features')
						.pic
							.bendback(style="background-image: url('img/thumb_hand.jpg')")
						.txt The highest Level 5 <br>cut resistance
					a.feature(href='#feat2')
						.pic
							.bendback(style="background-image: url('img/thumb_fit.jpg')")
						.txt Fit like a second skin<br> to all hand types 
					a.feature(href='#feat3')
						.pic
							.bendback(style="background-image: url('img/thumb_carrot.jpg')")
						.txt Ideal for food-<br> preparation 
					a.feature(href='#feat4')
						.pic
							.bendback(style="background-image: url('img/thumb_knife.jpg')")
						.txt Maximum grip and<br> accuracy
					a.feature(href='#feat5')
						.pic
							.bendback(style="background-image: url('img/thumb_scale.jpg')")
						.txt Thin, but durable and<br> machine washable