section.checkout

	.wrapper
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-8.col-md-11.col-lg-11
				ul.steps
					li.act
						i
							span
						span.txt Products
					li
						i
							span
						span.txt Shipping
					li
						i
							span
						span.txt Payment
					
		.row.center-xs.center-sm.center-md.center-lg.product-page
			.col-xs-12.col-sm-7.col-md-4.col-lg-4
				img.prod-pic(src='img/product_pic.jpg')
		
			.col-xs-12.col-sm-6.col-md-7.col-lg-7
				h2 NoCry Cut Resistant Gloves
				.price <strong>$14.99</strong> for 1 pair
				
				ul.productlist
					li.head
						div Size <a href="sizechart.html" class="help" id="sizeChart">see chart</a>
						span Quantity
						span Total price
					li
						span.size
							i S
						div.amnt
							.controller
								a.decr(href='javascript:;') –
								a.incr(href='javascript:;') +
							input(type="number" value="0")
							
						span.rw-price $0.00				
					li
						span.size
							i M
						div.amnt
							.controller
								a.decr(href='javascript:;') –
								a.incr(href='javascript:;') +
							input(type="number" value="0")

						span.rw-price $0.00
					li
						span.size
							i L
						div.amnt
							.controller
								a.decr(href='javascript:;') –
								a.incr(href='javascript:;') +
							input(type="number" value="50")
						span.rw-price $1200.00
					li.total
						span
						span.sum Total: <strong>$0.00</strong>
										
				.tip <strong>TIP:</strong> Add 2 more pairs of gloves to your order and <strong>save $6.00</strong>
			
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-7.col-md-11.col-lg-11.actions.single
				.sec-payments
					span Secure payments by
					img(src='img/sec_paymeths@2x.png' width='232' height='32')

				a.pri(href='checkout2.html')
					span Continue