section.checkout
	

	.wrapper
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-8.col-md-11.col-lg-11
				ul.steps
					li.vis
						i
							span
						span.txt Products
					li.act
						i
							span
						span.txt Shipping
					li
						i
							span
						span.txt Payment
					
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-7.col-md-11.col-lg-11
				h2 Shipping information
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-6.col-md-10.col-lg-10
				.row.frm
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						label First & Last name
						input(type='text')
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						label Phone
						input(type='text')
				
				.row.frm
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						label E-Mail
						input(type='text')

					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						label Company
						input(type='text' placeholder='optional')
									
				.row.frm
					.col-xs-7.col-sm-7.col-md-4.col-lg-4
						label Street
						input(type='text')

					.col-xs-5.col-sm-5.col-md-2.col-lg-2
						label Apt, suite, etc.
						input(type='text')

					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						label City
						input(type='text')
				
				.row.frm
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						label Country
						select#select-country(placeholder="Select country")
							option(value='') Select country
							option(value='0') United States of America
							option(value='1') Afghanistan
							option(value='2') Albania
							option(value='3') Algeria
							option(value='4') Andorra
							option(value='5') Angola
							option(value='6') Antigua and Barbuda
							option(value='7') Argentina
							option(value='8') Armenia
							option(value='9') Aruba
							option(value='10') Australia
							option(value='11') Austria
							option(value='12') Azerbaijan
							
						script.
							$('#select-country').selectize({
								create: false,
								dropdownParent: 'body'
							});
							
							var country
							$('#select-country').change(function(){
								country = $(this).val();
								if(country==0){
									$('.select-state').show();
									$('.insert-state').hide();
								}
								else {
									$('.select-state').hide();
									$('.insert-state').show();
								}
							});
			
					.col-xs-7.col-sm-7.col-md-4.col-lg-4
						label State/Province
						input.insert-state(type='text')
						span.select-state(style="display:none")
							select#select-state(placeholder="Select a State")
								option(value='') Select a State
								option(value='1') Alabama
								option(value='2') Alaska
								option(value='3') Arizona
								option(value='4') Arakansas
								option(value='5') California
								option(value='6') Colorado
								option(value='7') Connecticut
								option(value='8') Delaware
								option(value='9') Florida
								option(value='10') Georgia
								option(value='11') Hawaii
								option(value='12') Idaho
								option(value='13') Illinois
								option(value='14') Indiana
								option(value='15') Iowa
						script.
							$('#select-state').selectize({
								create: false,
								sortField: {
									field: 'text',
									direction: 'asc'
								},
								dropdownParent: 'body'
							});

					.col-xs-5.col-sm-5.col-md-2.col-lg-2
						label Postal code
						input(type='text')
						
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-7.col-md-11.col-lg-11
				h2 Payment method
				
				.row.center-xs.center-sm.center-md.center-lg.payment-methods
					.col-xs-12.col-sm-10.col-md-4.col-lg-4
						a.paymeth.cc(name='cc') <span class="check">Credit card</span>
						a.paymeth.paypal(name='paypal') <span class="check">PayPal</span>
					.col-xs-12.col-sm-10.col-md-4.col-lg-4
						a.paymeth.amazon(name='amazon') <span class="check">Amazon</span>
						a.paymeth.ebay(name='ebay') <span class="check">eBay</span>
				input(type='hidden' id='paymethType' name='paymethType')
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-7.col-md-11.col-lg-11.actions
				a.sec(href='checkout1.html')
					span Back
				a.pri(href='checkout3.html')
					span Continue