section.checkout
	

	.wrapper
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				
				.success-msg
					.check-picto
					h2 Thank You!
					h3 Your payment is received and order being shipped.