section.checkout
	

	.wrapper
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-8.col-md-11.col-lg-11
				ul.steps
					li.vis
						i
							span
						span.txt Products
					li.vis
						i
							span
						span.txt Shipping
					li.act
						i
							span
						span.txt Payment
		
					
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-7.col-md-11.col-lg-11
				
				.receipt
					ul
						li
							.left <strong>Cut Resistant Gloves</strong> 3 pairs
							.right $44.97
						li
							.left Shipping to South Carolina
							.right $0.00
						li
							hr
						li
							.left Discount
							.right -$6.00
						li.coupon
							.step1
								a(href='#')#enterCode Have a coupon?
							.step2(style="display:none")
								input(type='text', placeholder='Coupon code').codeField
								button.submitCode Submit
							.step3(style="display:none")
								input(type='text', value='ERROR').codeField.error
								button.submitCode Submit
								span.error Invalid coupon code!
						li.showDiscount(style="display:none")
							.left Coupon "Summer15" discount
							.right -$5.00
						li
							hr
						li
							.left <strong>TOTAL</strong>
							.right 
								strong $38.97
				
				h2 Credit card information
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-6.col-md-10.col-lg-10
				.row.frm
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						label Cardholder's name
						input(type='text')
					.col-xs-12.col-sm-12.col-md-6.col-lg-6
						label Card's numer
						input(type='text')
				.row.frm
					
					.col-xs-7.col-sm-7.col-md-4.col-lg-4
						label Expiration date
						select#exp-month(placeholder="Month")
							option(value='') Month
							option(value='1') January
							option(value='2') February
							option(value='3') March
							option(value='4') April
							option(value='5') May	
						script.
							$('#exp-month').selectize({
								create: false,
								dropdownParent: 'body'
							});
					
					.col-xs-5.col-sm-5.col-md-2.col-lg-2
						label &nbsp;
						select#exp-year(placeholder="Year")
							option(value='') Year
							option(value='1') 2015
							option(value='2') 2016
							option(value='3') 2017
							option(value='4') 2018
							option(value='5') 2019	
						script.
							$('#exp-year').selectize({
								create: false,
								dropdownParent: 'body'
							});
					
					.col-xs-3.col-sm-3.col-md-2.col-lg-2
						label CVV
							a.help.ccvhelp(href='#') What is this?
						input(type='text')
						
					
					
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-7.col-md-11.col-lg-11
				h2 Billing address
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-6.col-md-10.col-lg-10
				.row.frm
					.col-xs-12.col-sm-12.col-md-12.col-lg-12#billingAddressSwitch
						
						label(for="billingAddr")
							input(type='checkbox' checked='checked' id='billingAddr')
							span Same as shipping address				
				
				.billing-address
					.inner
						.row.frm
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								label Street
								input(type='text')
		
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								label Apt, suite, etc.
								input(type='text')
						
						.row.frm
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								label City
								input(type='text')
					
							.col-xs-7.col-sm-7.col-md-4.col-lg-4
								label State
								select#select-state(placeholder="Select a State")
									option(value='') Select a State
									option(value='1') Alabama
									option(value='2') Alaska
									option(value='3') Arizona
									option(value='4') Arakansas
									option(value='5') California
									option(value='6') Colorado
									option(value='7') Connecticut
									option(value='8') Delaware
									option(value='9') Florida
									option(value='10') Georgia
									option(value='11') Hawaii
									option(value='12') Idaho
									option(value='13') Illinois
									option(value='14') Indiana
									option(value='15') Iowa	
								script.
									$('#select-state').selectize({
										create: false,
										dropdownParent: 'body'
									});
		
							.col-xs-5.col-sm-5.col-md-2.col-lg-2
								label Postal code
								input(type='text')
				

				
		.row.center-xs.center-sm.center-md.center-lg
			.col-xs-12.col-sm-7.col-md-11.col-lg-11.actions
				a.sec(href='checkout2.html')
					span Back
				a.pri(href='checkout4.html')
					span Confirm