section.highlighted#reviews
	.wrapper
		h2 Professional Chefs Rate NoCry Gloves Highly
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				.reviews
					.review
						p Awesome product. As a chef with large hands these fit like skin. Best cut glove on the market!
						.auth
							img.pic(src='img/heston_b.png' alt="Kevin")
							span.name Kevin
							span.title Chef
					
					.review
						p I'm a restaurant owner/operator..I am hands on. I needed a safety glove that was easy to use, good quality yet affordable and these gloves met my needs. Highly recommended.
						.auth
							img.pic(src='img/heston_b.png' alt="el Burrito Daddy")
							span.name el Burrito Daddy
							span.title Restaurant
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				.video
					a.screen#review1(href="https://www.youtube.com/watch?v=CBs6VJzRDuQ")
						span.play Play
						img.pic(src='img/video_scr1.jpg')
					.title Watch the professional chef testing NoCry gloves on the DealGuy.
	
	
section
	.wrapper
		h2 1000+ People in Amazon.com Have Rated Our<br> Gloves With Maximum 5 Stars
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.last-xs.last-sm.first-md.first-lg
				.video
					a.screen#review2(href='https://www.youtube.com/watch?v=-olFIoZx8TA')
						span.play Play
						img(src='img/video_scr2.jpg')
					.title Watch the video review by our customer.
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.first-xs.first-sm.last-md.last-lg
				.reviews
					.review
						p I bought my wife an ultra sharp set of knives for Thanksgiving last year, and we found that those knives worked very well on her fingers too. So I got her these gloves which she now wears when she uses the knives. They work well, she hasn't cut herself since she started using them.
						.auth
							span.name Adam N
							span.title Los Angeles
					
					.review
						p When I wear these gloves to chop onions, I feel like I'm Julia Child on her cooking show. I've been chopping onions, carrots, celery, etc. like a professional chef. Yes, I'm still careful when chopping, but now I chop with confidence. I'm glad I bought these gloves! I highly recommend them.
						.auth
							span.name Marie e Moengey
							span.title Garden City, NY USA