section.sizing#sizing
	.wrapper
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				h2 Which size to choose?
				p NoCry cut resistant gloves come in S, M and L sizes.
				p Please measure your palm diameter as shown on the image on the right to figure out the best-fitting glove size.
				
				.sizing-table
					ul
						li <strong>S</strong> 2.25 in – 3.30 in
						li <strong>M</strong> 3.31 in – 3.80 in
						li <strong>L</strong> 3.81 in – 4.30 in	
				
			.col-xs-12.col-sm-6.col-md-6.col-lg-6
				.palm-diameter
					.measure-here