doctype html
html(lang="en")
	head
		title='NoCry Gloves'
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='css/meyer.reset.css')
		link(rel='stylesheet' href='css/styles.css')
		link(rel='stylesheet' href='css/magnify.css')
		link(rel='stylesheet' href='css/flexboxgrid.min.css')
		link(rel='stylesheet' href='css/animate.css')
		link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400|Roboto:300,700,300italic')
		link(rel='stylesheet' href='css/magnific-popup.css')
		link(rel='stylesheet' href='css/jquery.webui-popover.min.css')
		link(rel='stylesheet' href='css/easy-responsive-tabs.css')
		
	body
				
		- var shownav = true
		- var largefooter = true

		a(name='home' id='home')
		include ./includes/header.jade
		
		include ./includes/hero.jade
			
		
		include ./includes/features.jade
		
		include ./includes/cta.jade
		
		include ./includes/sizing.jade
		
		include ./includes/reviews.jade
		
		include ./includes/faq.jade
		
		include ./includes/cta.jade	 
		
		include ./includes/footer.jade
		
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='js/jquery.magnific-popup.js')
		script(src='js/magnify.js')
		script(src='js/jquery.webui-popover.min.js')
		script(src='js/jquery.paralax.js')
		script(src='js/jquery.collapse.js')
		script(src='js/common.js')