doctype html
html(lang="en")
	head
		title='NoCry Gloves'
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='css/meyer.reset.css')
		link(rel='stylesheet' href='css/styles.css')
		link(rel='stylesheet' href='css/flexboxgrid.min.css')
		link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400|Roboto:300,700,300italic')

body.popup
	include ./includes/sizing.jade